USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_GetAllFailedJobsStatus]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_GetAllFailedJobsStatus]
AS
BEGIN
    SET NOCOUNT ON;
	select * from t_AllJobsView where jobstatus = 'failed' and 
	JobName not like '%lsalert%' and 
	JobName not like '%Shrinking monitor%' and 
	JobName not like '%DATAFILE_SHRINKING_KILL%' and 
	JobName not like '%DBA_ARCHIVAL_REPORT%'

     SET NOCOUNT off;
END;



GO
