USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GetLogshippingSuccess]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[p_GetLogshippingSuccess]          
AS          
BEGIN          
    SET NOCOUNT ON;          
 select               
         Source,        
    DatabaseName,        
    InstanceName,        
    replace(CAST(InstanceIP AS VARCHAR(50)),char(44),':')InstanceIP,        
    LogStatus,                
    AlertDate       
   
 FROM           
        t_LogShippingSuccess         
    WHERE            
       CAST(AlertDate AS DATE) = CAST(GETDATE() AS DATE)    
    
 ORDER BY           
         AlertDate desc      
    SET NOCOUNT OFF         
END ;      
          
          
          
GO
