USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_GetAllFailedJobsStatusTemp]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_GetAllFailedJobsStatusTemp]
AS
BEGIN
    SET NOCOUNT ON;
	select * from JobMonitoring where job_status = 'failed' and 
	Job_Name not like '%lsalert%' and 
	Job_Name not like '%Shrinking monitor%' and 
	Job_Name not like '%DATAFILE_SHRINKING_KILL%' and 
	Job_Name not like '%DBA_ARCHIVAL_REPORT%'

     SET NOCOUNT off;
END;




GO
