USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_AllJobsInsertintoTable]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_AllJobsInsertintoTable]
AS
BEGIN
    SET NOCOUNT ON;
		truncate table t_AllJobsView
	INSERT INTO t_AllJobsView
(
    ServerIP,
    JobName,
    JobEnabled,
    Frequency,
    JobStatus,
    JobDuration,
    SucceededDate,
    SucceededTime,
    ErrorMessage,
    InsertedTimestamp
)
    -- Combine data from all specified views
    SELECT * FROM [dbo].[V_JobsStatus39]
    UNION ALL
    SELECT * FROM [dbo].[V_JobsStatus40]
    UNION ALL
    SELECT * FROM [dbo].[V_JobsStatus44]
    UNION ALL
    SELECT * FROM [dbo].[V_JobsStatus48]
    UNION ALL
   SELECT
    ServerIP,
    job_name,
    job_enabled,
    frequency,
    job_status,

    -- 🔥 MAIN SUSPECT
    TRY_CONVERT(TIME, job_duration),

    NULL,
    NULL,

    error_message,

    -- 🔥 SECOND SUSPECT
    TRY_CONVERT(DATETIME, InsertedTimestamp)

FROM [dbo].[V_JobsStatus49]

    UNION ALL
    SELECT * FROM [dbo].[V_JobsStatus52]
      ORDER BY 
        succeeded_date DESC, succeeded_time DESC,job_enabled;
     SET NOCOUNT off;
END;





	
GO
