USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GetLRSessionslog]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetLRSessionslog]        
AS 
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @Now DATETIME = GETDATE(),
        @Today DATE = CAST(GETDATE() AS DATE),
        @Start DATETIME,
        @End DATETIME;

   
    DECLARE @TodayDT DATETIME = CAST(@Today AS DATETIME);

    -- Determine Interval Based on Current Time
   
    IF CAST(@Now AS TIME) >= '06:00:00' AND CAST(@Now AS TIME) < '18:00:00'
    BEGIN
        -- Fetch yesterday 6PM to today 6AM
        SET @Start = DATEADD(HOUR, 18, DATEADD(DAY, -1, @TodayDT));  
        SET @End   = DATEADD(HOUR, 6,  @TodayDT);                     
    END
    ELSE
    BEGIN
        --  Fetch today 6AM tp today 6PM
        SET @Start = DATEADD(HOUR, 6,  @TodayDT);                     
        SET @End   = DATEADD(HOUR, 18, @TodayDT);                    
    END


    CREATE TABLE #temp (
        session_id        INT NOT NULL,
        status            VARCHAR(50) NULL,
        blocked_by        INT NULL,
        elapsed_time      VARCHAR(20) NULL,      
        login_name        NVARCHAR(100) NULL,
        stored_proc       NVARCHAR(256) NULL,
        host_name         NVARCHAR(128) NULL,
        database_name     SYSNAME NULL,
        query_text        NVARCHAR(1000) NULL,
        InsertedTimestamp DATETIME NOT NULL 
    );

   
    INSERT INTO #temp
    (
        session_id, status, blocked_by, elapsed_time,
        login_name, stored_proc, host_name, database_name,
        query_text, InsertedTimestamp
    )
    SELECT 
        t.session_id,
        t.status,
        t.blocked_by,
        t.elapsed_time,
        t.login_name,
        t.stored_proc,
        t.host_name,
        t.database_name,
        t.query_text,
        t.InsertedTimestamp
    FROM t_LRSessionLog t
    INNER JOIN
    (
        SELECT 
            session_id,
            MAX(InsertedTimestamp) AS MaxTS
        FROM t_LRSessionLog
        WHERE InsertedTimestamp >= @Start AND InsertedTimestamp < @End
        GROUP BY session_id
    ) AS Latest
        ON t.session_id = Latest.session_id
       AND t.InsertedTimestamp = Latest.MaxTS;

  
    SELECT * FROM #temp ORDER BY elapsed_time DESC;

    DROP TABLE #temp;

    SET NOCOUNT OFF;
END;
GO
