USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_ReportTopDiskUsageTables]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_ReportTopDiskUsageTables]
AS
BEGIN
    SET NOCOUNT ON;
	select * from AllTableSizes
   SET NOCOUNT OFF;
END;






GO
