USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GetDatabaseSizeReport]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[p_GetDatabaseSizeReport]
AS
BEGIN
    SET NOCOUNT ON;

    /* =========================
       1. Normalize DB size + rank
       ========================= */
    WITH RankedData AS
    (
        SELECT
            c.ClientName,
            d.server_ip,
            d.dbname,
            d.dbsize,
            d.inserted_timestamp,

            CASE
                WHEN d.dbsize LIKE '% GB' THEN TRY_CAST(REPLACE(d.dbsize, ' GB', '') AS FLOAT)
                WHEN d.dbsize LIKE '% MB' THEN TRY_CAST(REPLACE(d.dbsize, ' MB', '') AS FLOAT) / 1024
                WHEN d.dbsize LIKE '% TB' THEN TRY_CAST(REPLACE(d.dbsize, ' TB', '') AS FLOAT) * 1024
                ELSE NULL
            END AS dbsize_numeric,

            -- Latest record overall
            ROW_NUMBER() OVER (
                PARTITION BY d.dbname
                ORDER BY d.inserted_timestamp DESC
            ) AS rn_latest,

            -- Latest record within last 7 days
            ROW_NUMBER() OVER (
                PARTITION BY d.dbname
                ORDER BY
                    CASE
                        WHEN d.inserted_timestamp >= DATEADD(DAY, -7, GETDATE())
                        THEN d.inserted_timestamp
                    END DESC
            ) AS rn_7days

        FROM t_DBGrowthReport d
        INNER JOIN t_clientname c
            ON d.dbname LIKE '%' + c.ClientName + '%'
    ),

    /* =========================
       2. Pick CURRENT vs PREVIOUS
       ========================= */
    LatestTwoRecords AS
    (
        SELECT
            ClientName,
            server_ip,
            dbname,

            MAX(CASE WHEN rn_latest = 1 THEN inserted_timestamp END) AS present_week,
            MAX(CASE WHEN rn_7days = 1 AND rn_latest <> 1 THEN inserted_timestamp END) AS previous_week,

            MAX(CASE WHEN rn_latest = 1 THEN dbsize END) AS current_dbsize,
            MAX(CASE WHEN rn_7days = 1 AND rn_latest <> 1 THEN dbsize END) AS previous_dbsize,

            MAX(CASE WHEN rn_latest = 1 THEN dbsize_numeric END) AS current_dbsize_numeric,
            MAX(CASE WHEN rn_7days = 1 AND rn_latest <> 1 THEN dbsize_numeric END) AS previous_dbsize_numeric
        FROM RankedData
        GROUP BY ClientName, server_ip, dbname
    ),

    /* =========================
       3. Last 12 weeks growth
       ========================= */
    WeeklyGrowth AS
    (
        SELECT
            d.dbname,
            CASE
                WHEN d.dbsize LIKE '% GB' THEN TRY_CAST(REPLACE(d.dbsize, ' GB', '') AS FLOAT)
                WHEN d.dbsize LIKE '% MB' THEN TRY_CAST(REPLACE(d.dbsize, ' MB', '') AS FLOAT) / 1024
                WHEN d.dbsize LIKE '% TB' THEN TRY_CAST(REPLACE(d.dbsize, ' TB', '') AS FLOAT) * 1024
                ELSE NULL
            END AS weekly_dbsize
        FROM t_DBGrowthReport d
        WHERE d.inserted_timestamp >= DATEADD(WEEK, -12, GETDATE())
    ),

    /* =========================
       4. Average weekly growth
       ========================= */
    GrowthStats AS
    (
        SELECT
            dbname,
            (MAX(weekly_dbsize) - MIN(weekly_dbsize)) / 12.0 AS avg_weekly_growth
        FROM WeeklyGrowth
        GROUP BY dbname
    )

    /* =========================
       5. Final output
       ========================= */
    SELECT
        LTR.ClientName,
        LTR.server_ip,
        LTR.dbname,
        LTR.previous_dbsize,
        LTR.current_dbsize,

        -- Difference between current and last 7 days
        CASE
            WHEN LTR.current_dbsize_numeric IS NOT NULL
             AND LTR.previous_dbsize_numeric IS NOT NULL
            THEN
                CASE
                    WHEN (LTR.current_dbsize_numeric - LTR.previous_dbsize_numeric) >= 1024
                    THEN CAST(
                             (LTR.current_dbsize_numeric - LTR.previous_dbsize_numeric) / 1024
                         AS NVARCHAR(50)) + ' GB'
                    ELSE CAST(
                             (LTR.current_dbsize_numeric - LTR.previous_dbsize_numeric) * 1024
                         AS NVARCHAR(50)) + ' MB'
                END
            ELSE 'N/A'
        END AS difference_in_size,

        -- Projected growth for next 3 months
        CASE
            WHEN G.avg_weekly_growth IS NOT NULL
             AND LTR.current_dbsize_numeric IS NOT NULL
            THEN CAST(
                     LTR.current_dbsize_numeric + (G.avg_weekly_growth * 12)
                 AS NVARCHAR(50)) + ' GB'
            ELSE 'N/A'
        END AS ProjectedGrowthfor3months

    FROM LatestTwoRecords LTR
    LEFT JOIN GrowthStats G
        ON LTR.dbname = G.dbname;

    SET NOCOUNT OFF;
END;
GO
