USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_SessionBlockingInsertintoTable]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_SessionBlockingInsertintoTable]
AS
BEGIN
    SET NOCOUNT ON;
	truncate table t_BlockingSessionsView
	insert into t_BlockingSessionsView
    -- Combine data from all specified views
    SELECT 
        session_id,
        status,
        blocked_by,
        elapsed_time,
        login_name,
        stored_proc,
        host_name,
		database_name,
        query_text
           FROM pj_LRBlockingSessions39
    UNION ALL
    SELECT 
        session_id,
        status,
        blocked_by,
        elapsed_time,
        login_name,
        stored_proc,
        host_name,
		database_name,
        query_text
           FROM pj_LRBlockingSessions40
    UNION ALL
    SELECT 
        session_id,
        status,
        blocked_by,
        elapsed_time,
        login_name,
        stored_proc,
        host_name,
		database_name,
      query_text
           FROM pj_LRBlockingSessions44
    UNION ALL
    SELECT 
        session_id,
        status,
        blocked_by,
        elapsed_time,
        login_name,
        stored_proc,
        host_name,
		database_name,
      query_text
           FROM pj_LRBlockingSessions48
    UNION ALL
    SELECT 
        session_id,
        status,
        blocked_by,
        elapsed_time,
        login_name,
        stored_proc,
        host_name,
		database_name,
         query_text
           FROM pj_LRBlockingSessions49
    UNION ALL
    SELECT 
        session_id,
        status,
        blocked_by,
        elapsed_time,
        login_name,
        stored_proc,
        host_name,
		database_name,
       query_text
           FROM pj_LRBlockingSessions52

     SET NOCOUNT off;
END;

GO
