USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GetLatestLoginDetails]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetLatestLoginDetails]
AS
BEGIN
    SET NOCOUNT ON;

    -- Fetch all records where IsAlertSent is NULL
    SELECT *
    FROM t_Fetchlogindetails
    WHERE IsAlertSent IS NULL
    ORDER BY Inserted_Time DESC;   -- Latest records first

END;
GO
