USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_AllJobsInsertintoTableTemp]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_AllJobsInsertintoTableTemp]
AS
BEGIN
    SET NOCOUNT ON;
		truncate table JobMonitoring
		INSERT INTO JobMonitoring
		(
			ServerIP,
			job_name,
			job_enabled,
			frequency,
			schedule,
			job_status,
			job_duration,
			succeeded_date,
			succeeded_time,
			error_message,
			inserted_timestamp
		)
		
		select * from [172.16.22.40,8181].[msdb].[dbo].[V_Tool_JobStatus40]
		UNION ALL
		select * from [172.16.22.44,8181].[msdb].[dbo].[V_Tool_JobStatus44]
		UNION ALL
		select * from [172.16.22.49,8181].[msdb].[dbo].[V_Tool_JobStatus49]
      ORDER BY 
        succeeded_date DESC, succeeded_time DESC,job_enabled;
     SET NOCOUNT off;
END;





	

GO
