USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PJ_GetLatestDatabaseAccess_satya]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PJ_GetLatestDatabaseAccess_satya]
    @ServerIP VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH LatestData AS
    (
        SELECT 
            f.*,
            ROW_NUMBER() OVER (PARTITION BY f.DatabaseName ORDER BY f.Inserted_Time DESC) AS rn
        FROM t_Fetchdatabaseaccess f
        WHERE f.Server_IP = @ServerIP
          AND f.DatabaseName NOT IN ('BrNetTempDB','CONNECT_I')
    )
    SELECT *
    FROM LatestData
    WHERE rn = 1;  -- only latest record per DatabaseName
END;
GO
