USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GetDatabaseSizeReportPivot]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetDatabaseSizeReportPivot]
(
    @ServerIP  NVARCHAR(50),
    @StartDate DATE,
    @EndDate   DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH DailyData AS
    (
        SELECT
            server_ip,
            dbname,
            CAST(inserted_timestamp AS DATE) AS DataDate,
            MAX(TRY_CAST(dbsize AS DECIMAL(18,2))) AS dbsize
        FROM dbo.t_DBGrowthReport
        WHERE server_ip = @ServerIP
          AND TRY_CAST(dbsize AS DECIMAL(18,2)) IS NOT NULL
          AND CAST(inserted_timestamp AS DATE) <= @EndDate
        GROUP BY
            server_ip,
            dbname,
            CAST(inserted_timestamp AS DATE)
    ),
    GrowthData AS
    (
        SELECT
            server_ip,
            dbname,
            DataDate,
            dbsize,
            LAG(dbsize) OVER
                (PARTITION BY server_ip, dbname
                 ORDER BY DataDate) AS prev_dbsize
        FROM DailyData
    )
    SELECT
        server_ip,
        dbname,
        DataDate,
        dbsize,
        dbsize - prev_dbsize AS size_difference
    FROM GrowthData
    WHERE DataDate BETWEEN @StartDate AND @EndDate
    ORDER BY DataDate;
END;
GO
