USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GetDatabaseSizeReportDaily]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[p_GetDatabaseSizeReportDaily]
AS
BEGIN
    SET NOCOUNT ON;

    /* =========================
       1. Normalize DB size
       ========================= */
    WITH NormalizedData AS
    (
        SELECT
            c.ClientName,
            d.server_ip,
            d.dbname,
            d.dbsize,
            d.inserted_timestamp,

            CASE
                WHEN d.dbsize LIKE '% GB' THEN TRY_CAST(REPLACE(d.dbsize, ' GB', '') AS FLOAT)
                WHEN d.dbsize LIKE '% MB' THEN TRY_CAST(REPLACE(d.dbsize, ' MB', '') AS FLOAT) / 1024
                WHEN d.dbsize LIKE '% TB' THEN TRY_CAST(REPLACE(d.dbsize, ' TB', '') AS FLOAT) * 1024
                ELSE NULL
            END AS dbsize_numeric,

            CAST(d.inserted_timestamp AS DATE) AS inserted_date
        FROM t_DBGrowthReport d
        INNER JOIN t_clientname c
            ON d.dbname LIKE '%' + c.ClientName + '%'
    ),

    /* =========================
       2. Pick TODAY & YESTERDAY
       ========================= */
    RankedDailyData AS
    (
        SELECT
            *,
            ROW_NUMBER() OVER (
                PARTITION BY dbname, inserted_date
                ORDER BY inserted_timestamp DESC
            ) AS rn_per_day
        FROM NormalizedData
        WHERE inserted_date IN
        (
            CAST(GETDATE() AS DATE),
            CAST(DATEADD(DAY, -1, GETDATE()) AS DATE)
        )
    ),

    /* =========================
       3. Extract current vs previous
       ========================= */
    DailyComparison AS
    (
        SELECT
            ClientName,
            server_ip,
            dbname,

            MAX(CASE WHEN inserted_date = CAST(GETDATE() AS DATE)
                     AND rn_per_day = 1
                     THEN dbsize END) AS Today_dbsize,

            MAX(CASE WHEN inserted_date = CAST(DATEADD(DAY, -1, GETDATE()) AS DATE)
                     AND rn_per_day = 1
                     THEN dbsize END) AS Yesterday_dbsize,

            MAX(CASE WHEN inserted_date = CAST(GETDATE() AS DATE)
                     AND rn_per_day = 1
                     THEN dbsize_numeric END) AS Today_dbsize_numeric,

            MAX(CASE WHEN inserted_date = CAST(DATEADD(DAY, -1, GETDATE()) AS DATE)
                     AND rn_per_day = 1
                     THEN dbsize_numeric END) AS Yesterday_dbsize_numeric
        FROM RankedDailyData
        GROUP BY ClientName, server_ip, dbname
    )

    /* =========================
       4. Final output
       ========================= */
    SELECT
        ClientName,
        server_ip,
        dbname,
        Yesterday_dbsize,
        Today_dbsize,

        CASE
            WHEN Today_dbsize_numeric IS NOT NULL
             AND Yesterday_dbsize_numeric IS NOT NULL
            THEN
                CASE
                    WHEN (Today_dbsize_numeric - Yesterday_dbsize_numeric) >= 1024
                    THEN CAST(
                             (Today_dbsize_numeric - Yesterday_dbsize_numeric) / 1024
                         AS NVARCHAR(50)) + ' GB'
                    ELSE CAST(
                             (Today_dbsize_numeric - Yesterday_dbsize_numeric) * 1024
                         AS NVARCHAR(50)) + ' MB'
                END
            ELSE 'N/A'
        END AS difference_in_size

    FROM DailyComparison
    ORDER BY ClientName, dbname;

    SET NOCOUNT OFF;
END;
GO
