USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GetWeeklyDBSizeStats]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[p_GetWeeklyDBSizeStats]
AS
BEGIN
    SET NOCOUNT ON;

    -- Convert DB size to GB and rank records
    WITH RankedData AS (
        SELECT
            ClientName,
            server_ip,
            dbname,
            dbsize,
            CASE
                WHEN dbsize LIKE '% GB' THEN TRY_CAST(REPLACE(dbsize, ' GB', '') AS FLOAT)
                WHEN dbsize LIKE '% MB' THEN TRY_CAST(REPLACE(dbsize, ' MB', '') AS FLOAT) / 1024 -- Convert MB to GB
                WHEN dbsize LIKE '% TB' THEN TRY_CAST(REPLACE(dbsize, ' TB', '') AS FLOAT) * 1024 -- Convert TB to GB
                ELSE NULL
            END AS dbsize_numeric, -- Normalize sizes to GB
            inserted_timestamp,
            ROW_NUMBER() OVER (PARTITION BY dbname ORDER BY inserted_timestamp DESC) AS row_num
        FROM
            t_DBGrowthReport  
        INNER JOIN  
            t_clientname  
        ON  
            dbname LIKE '%' + ClientName + '%'  
    ),

    -- Fetch the latest two records for comparison
    LatestTwoRecords AS (
        SELECT
            ClientName,
           -- server_ip,
            dbname,
            MAX(CASE WHEN row_num = 1 THEN dbsize_numeric END) AS current_dbsize_numeric,
            MAX(CASE WHEN row_num = 2 THEN dbsize_numeric END) AS previous_dbsize_numeric
        FROM
            RankedData
        WHERE row_num <= 2
        GROUP BY
            ClientName,  dbname
    )

    -- Final Output with Only Required Columns
    SELECT
        LTR.ClientName,
        LTR.dbname,
        -- Size difference calculation
        CASE
            WHEN LTR.current_dbsize_numeric IS NOT NULL AND LTR.previous_dbsize_numeric IS NOT NULL THEN
                CASE
                    WHEN LTR.current_dbsize_numeric - LTR.previous_dbsize_numeric >= 1024 THEN
                        CAST((LTR.current_dbsize_numeric - LTR.previous_dbsize_numeric) / 1024 AS NVARCHAR(50)) + ' GB'
                    ELSE
                        CAST((LTR.current_dbsize_numeric - LTR.previous_dbsize_numeric) * 1024 AS NVARCHAR(50)) + ' MB'
                END
            ELSE
                'N/A'
        END AS weekdifferencesize
    FROM
        LatestTwoRecords LTR;

    SET NOCOUNT OFF;
END;

GO
