USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_DeadLockInsertintoTable]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_DeadLockInsertintoTable]
AS
BEGIN
    SET NOCOUNT ON;
	truncate table  t_StoredProcedureView
	insert into t_StoredProcedureView
    -- Combine data from all specified views
    SELECT * FROM [V_DeadlockProcedure39]
    UNION ALL
    SELECT * FROM [V_DeadlockProcedure49]
    UNION ALL
    SELECT * FROM [V_DeadlockProcedure48]
    UNION ALL
    SELECT * FROM [V_DeadlockProcedure44]
    UNION ALL
    SELECT * FROM [V_DeadlockProcedure52]
    UNION ALL
    SELECT * FROM [V_DeadlockProcedure40]

     SET NOCOUNT off;
END;


  





          

GO
