USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_GetInstantLogShipping]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_GetInstantLogShipping]
AS
BEGIN
    SET NOCOUNT ON;
    -- Combine data from all specified views
    SELECT * FROM [v_GetLogShippingSuccess57]
    UNION ALL
    SELECT * FROM [v_GetLogshippingSuccess102]
    UNION ALL
    SELECT * FROM [v_GetLogshippingSuccess10282]
    UNION ALL
    SELECT * FROM [v_GetLogshippingSuccess111]
    UNION ALL
    SELECT * FROM [v_GetLogshippingSuccess11182]
    UNION ALL
    SELECT * FROM [v_GetLogshippingSuccess117]
	UNION ALL
	--SELECT * FROM v_GetLogShippingSuccessGCPDR4
	--UNION ALL
	SELECT * FROM v_GetLogShippingSuccess382
	UNION ALL
	SELECT * FROM v_GetLogShippingSuccessGCP130
	UNION ALL 
	SELECT * FROM v_GetLogShippingSuccess130
	UNION ALL 
	SELECT * FROM v_GetLogShippingSuccessGCP18
	

     SET NOCOUNT off;
END;


  
GO
