USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_StoredAllJobsInsertintoTable]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_StoredAllJobsInsertintoTable]
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO t_StoredAllJobsView
    (
        ServerIP,
        JobName,
        JobEnabled,
        Frequency,
        JobStatus,
        JobDuration,
        SucceededDate,
        SucceededTime,
        ErrorMessage,
        InsertedTimestamp
    )
    SELECT
        CAST(ServerIP AS NVARCHAR(50)),
        CAST(JobName AS NVARCHAR(255)),
        TRY_CONVERT(INT, JobEnabled),
        CAST(Frequency AS NVARCHAR(100)),
        CAST(JobStatus AS NVARCHAR(50)),
        TRY_CONVERT(TIME, JobDuration),
        TRY_CONVERT(DATETIME, SucceededDate),
        TRY_CONVERT(DATETIME, SucceededTime),
        CAST(ErrorMessage AS NVARCHAR(MAX)),
        TRY_CONVERT(DATETIME, InsertedTimestamp)
    FROM
    (
        SELECT 
            ServerIP,
            job_name       AS JobName,
            job_enabled    AS JobEnabled,
            frequency      AS Frequency,
            job_status     AS JobStatus,
            job_duration   AS JobDuration,
            succeeded_date AS SucceededDate,
            succeeded_time AS SucceededTime,
            error_message  AS ErrorMessage,
            inserted_timestamp AS InsertedTimestamp
        FROM dbo.V_JobsStatus39

        UNION ALL
        SELECT 
            ServerIP,
            job_name,
            job_enabled,
            frequency,
            job_status,
            job_duration,
            succeeded_date,
            succeeded_time,
            error_message,
            inserted_timestamp
        FROM dbo.V_JobsStatus40

        UNION ALL
        SELECT 
            ServerIP,
            job_name,
            job_enabled,
            frequency,
            job_status,
            job_duration,
            succeeded_date,
            succeeded_time,
            error_message,
            inserted_timestamp
        FROM dbo.V_JobsStatus44

        UNION ALL
        SELECT 
            ServerIP,
            job_name,
            job_enabled,
            frequency,
            job_status,
            job_duration,
            succeeded_date,
            succeeded_time,
            error_message,
            inserted_timestamp
        FROM dbo.V_JobsStatus48

        UNION ALL
        SELECT 
            ServerIP,
            job_name,
            job_enabled,
            frequency,
            job_status,
            job_duration,
            succeeded_date,
            succeeded_time,
            error_message,
            inserted_timestamp
        FROM dbo.V_JobsStatus49

        UNION ALL
        SELECT 
            ServerIP,
            job_name,
            job_enabled,
            frequency,
            job_status,
            job_duration,
            succeeded_date,
            succeeded_time,
            error_message,
            inserted_timestamp
        FROM dbo.V_JobsStatus52
    ) AS X;

    SET NOCOUNT OFF;
END;
GO
