USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_Get_KYC_Status_All]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_Get_KYC_Status_All]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM dbo.V_KYC_Status_39
    UNION ALL
    SELECT * FROM dbo.V_KYC_Status_40
	UNION ALL
    SELECT * FROM dbo.V_KYC_Status_44
	UNION ALL
    SELECT * FROM dbo.V_KYC_Status_48
	UNION ALL
    SELECT * FROM dbo.V_KYC_Status_49
	UNION ALL
    SELECT * FROM dbo.V_KYC_Status_52;
END;
GO
