USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_GetAllLongRunningSessions]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_GetAllLongRunningSessions]
AS
BEGIN
    SET NOCOUNT ON;
    -- Combine data from all specified views
    SELECT * FROM v_LongRunningSessions48
    UNION ALL
    SELECT * FROM v_LongRunningSessions49
    UNION ALL
    SELECT * FROM v_LongRunningSessions44
    UNION ALL
    SELECT * FROM v_LongRunningSessions40
    UNION ALL
    SELECT * FROM v_LongRunningSessions52
    UNION ALL
    SELECT * FROM v_LongRunningSessions39

     SET NOCOUNT off;
END;
GO
