USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_StoredGetAllJobsStatus]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[P_StoredGetAllJobsStatus]
    @FromDate DATETIME,
    @ToDate   DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM t_StoredAllJobsView
    WHERE insertedtimestamp >= @FromDate
      AND insertedtimestamp <= @ToDate;

    SET NOCOUNT OFF;
END;
GO
