USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_StoredGetAllIndexReport]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_StoredGetAllIndexReport]
AS
BEGIN
    SET NOCOUNT ON;
	select distinct * from t_StoredIndexView
     SET NOCOUNT off;
END;
GO
