USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_BackupInsertintoTable]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_BackupInsertintoTable]
AS
BEGIN
    SET NOCOUNT ON;
	truncate table t_BackupView
		INSERT INTO t_BackupView
(
    ServerIP,
    JobName,
    JobEnabled,
    Frequency,
    JobStatus,
    JobDuration,
    SucceededDate,
    SucceededTime,
    ErrorMessage,
    InsertedTimestamp
)
    -- Combine data from all specified views
    SELECT * FROM [dbo].[v_InstantBackupJobs39]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantBackupJobs40]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantBackupJobs44]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantBackupJobs48]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantBackupJobs49]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantBackupJobs52]

      ORDER BY 
        succeeded_date DESC, succeeded_time DESC,job_enabled;
     SET NOCOUNT off;
END;



GO
