USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[Pj_DeadLockInsertintoTablepaginated]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pj_DeadLockInsertintoTablepaginated]
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO t_Deadlockpaginated
    (
        InstanceIP,
        StoredProcedureName,
        LineNumber,
        KillCount,
        InsertedTimestamp
    )
    SELECT 
        CAST(InstanceIP AS NVARCHAR(15)),
        CAST(StoredProcedureName AS NVARCHAR(256)),
        TRY_CONVERT(INT, LineNumber),
        TRY_CONVERT(INT, KillCount),
        CAST(InsertedTimestamp AS DATETIME)
    FROM
    (
        SELECT InstanceIP, StoredProcedureName, LineNumber, KillCount, InsertedTimestamp FROM V_DeadlockProcedure39
        UNION ALL
        SELECT InstanceIP, StoredProcedureName, LineNumber, KillCount, InsertedTimestamp FROM V_DeadlockProcedure49
        UNION ALL
        SELECT InstanceIP, StoredProcedureName, LineNumber, KillCount, InsertedTimestamp FROM V_DeadlockProcedure48
        UNION ALL
        SELECT InstanceIP, StoredProcedureName, LineNumber, KillCount, InsertedTimestamp FROM V_DeadlockProcedure44
        UNION ALL
        SELECT InstanceIP, StoredProcedureName, LineNumber, KillCount, InsertedTimestamp FROM V_DeadlockProcedure52
        UNION ALL
        SELECT InstanceIP, StoredProcedureName, LineNumber, KillCount, InsertedTimestamp FROM V_DeadlockProcedure40
    ) AS X;

    SET NOCOUNT OFF;
END;
GO
