USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[pj_InsertLRSessionsLog]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pj_InsertLRSessionsLog]
AS
BEGIN
    SET NOCOUNT ON;

   CREATE TABLE #LRSessionLog
(
    session_id   INT NOT NULL,
    Status       VARCHAR(50) NULL,
    blocked_by    INT NULL,
    elapsed_time   VARCHAR(20) NULL,      -- formatted HH:MM:SS
    login_name   NVARCHAR(100) NULL,
    stored_proc   NVARCHAR(256) NULL,
    host_name   NVARCHAR(128) NULL,
    database_name SYSNAME NULL,
    query_text   NVARCHAR(1000) NULL,    -- 30 chars now, kept larger for future
	);

    INSERT INTO #LRSessionLog
    SELECT 

	session_id,status,blocked_by,elapsed_time,login_name,stored_proc,host_name,database_name,query_text    
    FROM v_LRSessionsLog39

    UNION ALL
    SELECT
	session_id,status,blocked_by,elapsed_time,login_name,stored_proc,host_name,database_name,query_text
    FROM v_LRSessionsLog40

    UNION ALL
    SELECT 
	session_id,status,blocked_by,elapsed_time,login_name,stored_proc,host_name,database_name,query_text
    FROM v_LRSessionsLog44

    UNION ALL
    SELECT 
	session_id,status,blocked_by,elapsed_time,login_name,stored_proc,host_name,database_name,query_text
    FROM v_LRSessionsLog48

    UNION ALL
    SELECT 
	session_id,status,blocked_by,elapsed_time,login_name,stored_proc,host_name,database_name,query_text
    FROM v_LRSessionsLog49

    UNION ALL
    SELECT 
	session_id,status,blocked_by,elapsed_time,login_name,stored_proc,host_name,database_name,query_text
    FROM v_LRSessionsLog52

   INSERT INTO t_LRSessionLog
   (
session_id,status,blocked_by,elapsed_time,login_name,stored_proc,host_name,database_name,query_text 
   )
   SELECT
 session_id,status,blocked_by,elapsed_time,login_name,stored_proc,host_name,database_name,query_text
 FROM #LRSessionLog;


    SELECT *, GETDATE() AS InsertedTimestamp
    FROM #LRSessionLog
    ORDER BY elapsed_time DESC;

    DROP TABLE #LRSessionLog;

    SET NOCOUNT OFF;
END;



----create synonym [v_LRSessionsLog39] for [172.16.22.38,8181].[master].[dbo].[v_LRSessionsLog39]
--create synonym [v_LRSessionsLog39] for [172.16.22.39,8181].[master].[dbo].[v_LRSessionsLog39]
--create synonym [v_LRSessionsLog40] for [172.16.22.40,8181].[master].[dbo].[v_LRSessionsLog40]
--create synonym [v_LRSessionsLog44] for [172.16.22.44,8181].[master].[dbo].[v_LRSessionsLog44]
--create synonym [v_LRSessionsLog48] for [172.16.22.48,8181].[master].[dbo].[v_LRSessionsLog48]
--create synonym [v_LRSessionsLog49] for [172.16.22.49,8181].[master].[dbo].[v_LRSessionsLog49]
--create synonym [v_LRSessionsLog52] for [172.16.22.52,8181].[master].[dbo].[v_LRSessionsLog52]
--create synonym [v_LRSessionsLog57] for [master].[dbo].[v_LRSessionsLog57]






GO
