USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GetRejectedticketRecords]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetRejectedticketRecords]        
AS        
BEGIN        
    SET NOCOUNT ON;        
 select tbl_ReleaseRequests.UniqueId,
		tbl_ReleaseRequests.RequestedBy,
		tbl_ReleaseRequests.RequestedAt,
		tbl_ReleaseRequests.UpdatedAt,
		tbl_ReleaseRequests.Status,
		tbl_ReleaseRequests.ReleaseType,
		tbl_ReleaseRequests.Subject,
		tbl_ReleaseRequests.Client,
		tbl_ReleaseRequests.ProjectTicketId,
		tbl_ReleaseRequests.IsDownTimeRequired,
		tbl_ReleaseRequests.PatchType,
		tbl_ReleaseRequests.IsApproved,
		tbl_ReleaseRequests.ScriptPath,
		tbl_ReleaseRequestHistory.Remarks
from tbl_ReleaseRequests 
LEFT JOIN tbl_ReleaseRequestHistory
ON tbl_ReleaseRequestHistory.RequestId = tbl_ReleaseRequests.RequestId
WHERE CAST(tbl_ReleaseRequests.RequestedAt AS DATE)
      BETWEEN CAST(DATEADD(DAY, -7, GETDATE()) AS DATE)
      AND CAST(GETDATE() AS DATE)
and tbl_ReleaseRequests.status = 'ReleasedError'
AND tbl_ReleaseRequestHistory.ActionStatus='ReleasedError'
     
        
    SET NOCOUNT OFF;        
END 


GO
