USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_EXE_TempDBUsagePer]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_EXE_TempDBUsagePer]
AS
BEGIN
    SET NOCOUNT ON;
	truncate table t_tempdbLogSpace
EXEC [172.16.22.52,8181].[master].[dbo].[p_tempdb_logspace_52]
EXEC [172.16.22.40,8181].[master].[dbo].[p_tempdb_logspace_40]
EXEC [172.16.22.48,8181].[master].[dbo].[p_tempdb_logspace_48]
EXEC [172.16.22.49,8181].[master].[dbo].[p_tempdb_logspace_49]
EXEC [172.16.22.44,8181].[master].[dbo].[p_tempdb_logspace_44]
EXEC [172.16.22.39,8181].[master].[dbo].[p_tempdb_logspace_39]
EXEC [172.16.22.38,8181].[master].[dbo].[p_tempdb_logspace_38]
--EXEC [master].[dbo].[p_tempdb_logspace_57]
select * from t_tempdbLogSpace
 SET NOCOUNT off;
 SET ANSI_WARNINGS OFF;
END







GO
