USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_StoredArchivalInsertintoTable]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_StoredArchivalInsertintoTable]
AS
BEGIN
    SET NOCOUNT ON;
	
	
	INSERT INTO t_StoredArchivalView
(
    ServerIP ,
	JobName			 ,
	JobEnabled		 ,
	Frequency		 ,
	JobStatus		 ,
	JobDuration		 ,
	SucceededDate	 ,
	SucceededTime	 ,
	ErrorMessage	 ,
	InsertedTimestamp
)
SELECT
        CAST(ServerIP AS NVARCHAR(50)),
        CAST(JobName AS NVARCHAR(255)),
        TRY_CONVERT(INT, JobEnabled),
        CAST(Frequency AS NVARCHAR(100)),
        CAST(JobStatus AS NVARCHAR(50)),
        TRY_CONVERT(TIME, JobDuration),
        TRY_CONVERT(DATETIME, SucceededDate),
        TRY_CONVERT(DATETIME, SucceededTime),
        CAST(ErrorMessage AS NVARCHAR(MAX)),
        TRY_CONVERT(DATETIME, InsertedTimestamp)
    FROM
    (
        SELECT 
            ServerIP,
            job_name       AS JobName,
            job_enabled    AS JobEnabled,
            frequency      AS Frequency,
            job_status     AS JobStatus,
            job_duration   AS JobDuration,
            succeeded_date AS SucceededDate,
            succeeded_time AS SucceededTime,
            error_message  AS ErrorMessage,
            inserted_timestamp AS InsertedTimestamp
        FROM dbo.[v_GetInstantArchivalReport49]

        UNION ALL
        SELECT 
            ServerIP,
            job_name,
            job_enabled,
            frequency,
            job_status,
            job_duration,
            succeeded_date,
            succeeded_time,
            error_message,
            inserted_timestamp
        FROM dbo.[v_GetInstantArchivalReport48]

        UNION ALL
        SELECT 
            ServerIP,
            job_name,
            job_enabled,
            frequency,
            job_status,
            job_duration,
            succeeded_date,
            succeeded_time,
            error_message,
            inserted_timestamp
        FROM dbo.[v_GetInstantArchivalReport44]

        UNION ALL
        SELECT 
            ServerIP,
            job_name,
            job_enabled,
            frequency,
            job_status,
            job_duration,
            succeeded_date,
            succeeded_time,
            error_message,
            inserted_timestamp
        FROM dbo.[v_GetInstantArchivalReport52]

        UNION ALL
        SELECT 
            ServerIP,
            job_name,
            job_enabled,
            frequency,
            job_status,
            job_duration,
            succeeded_date,
            succeeded_time,
            error_message,
            inserted_timestamp
        FROM dbo.[v_GetInstantArchivalReport40]

        UNION ALL
        SELECT 
            ServerIP,
            job_name,
            job_enabled,
            frequency,
            job_status,
            job_duration,
            succeeded_date,
            succeeded_time,
            error_message,
            inserted_timestamp
        FROM dbo.[v_GetInstantArchivalReport39]
    ) AS X;

    SET NOCOUNT OFF;
END;



--backup

--    -- Combine data from all specified views
--    select *
--	From (select  
--	ServerIP
--	,job_name
--	,job_enabled
--	,frequency
--	,job_status
--	,cast(replace(job_duration,'*','') as  time) job_duration
--	,cast(succeeded_date as date)
--	,cast(succeeded_time as time) succeeded_time
--	,error_message
--	,inserted_timestamp FROM [dbo].[v_GetInstantArchivalReport49]
--    UNION ALL
--    select  
--	ServerIP
--	,job_name
--	,job_enabled
--	,frequency
--	,job_status
--	,cast(replace(job_duration,'*','') as  time)
--	,cast(succeeded_date as date)
--	,cast(succeeded_time as time)
--	,error_message
--	,inserted_timestamp FROM [dbo].[v_GetInstantArchivalReport40]
--    UNION ALL
--    select  
--	ServerIP
--	,job_name
--	,job_enabled
--	,frequency
--	,job_status
--	,cast(replace(job_duration,'*','') as  time)
--	,cast(succeeded_date as date)
--	,cast(succeeded_time as time)
--	,error_message
--	,inserted_timestamp FROM [dbo].[v_GetInstantArchivalReport44]
--    UNION ALL
--    select  
--	ServerIP
--	,job_name
--	,job_enabled
--	,frequency
--	,job_status
--	,cast(replace(job_duration,'*','') as  time)
--	,cast(succeeded_date as date)
--	,cast(succeeded_time as time)
--	,error_message
--	,inserted_timestamp FROM [dbo].[v_GetInstantArchivalReport48]
--    UNION ALL
--    select  
--	ServerIP
--	,job_name
--	,job_enabled
--	,frequency
--	,job_status
--	,cast(replace(job_duration,'*','') as  time)
--	,cast(succeeded_date as date)
--	,cast(succeeded_time as time)
--	,error_message
--	,inserted_timestamp FROM [dbo].[v_GetInstantArchivalReport49]
--    UNION ALL
--    select  
--	ServerIP
--	,job_name
--	,job_enabled
--	,frequency
--	,job_status
--	,cast(replace(job_duration,'*','') as  time)  
--	,cast(succeeded_date as date)
--	,cast(succeeded_time as time)  
--	,error_message
--	,inserted_timestamp FROM [dbo].[v_GetInstantArchivalReport52]
--	)p1
--      ORDER BY 
--        cast(succeeded_date as date) DESC, succeeded_time DESC,job_enabled;
--     SET NOCOUNT off;
--END;

GO
