USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_GetAllBackupsReport]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_GetAllBackupsReport]
AS
BEGIN
    SET NOCOUNT ON;
	
select
  distinct  
	ServerIP
	,JobName
	,JobEnabled
	,Frequency
	,JobStatus
	,JobDuration
	,SucceededDate
	,SucceededTime
	,ErrorMessage
from 
t_BackupView

--SELECT 
--ServerIP
--,Job_name as JobName
--,Job_Enabled as JobEnabled
--,Frequency
--,Job_Status as JobStatus
--,Job_Duration as JobDuration
--,Succeeded_Date as SucceededDate
--,Succeeded_Time as SucceededTime
--,[Error_Message] as ErrorMessage
--FROM [dbo].[v_InstantBackupJobs39]
--    UNION ALL
--    SELECT 
--ServerIP
--,Job_name as JobName
--,Job_Enabled as JobEnabled
--,Frequency
--,Job_Status as JobStatus
--,Job_Duration as JobDuration
--,Succeeded_Date as SucceededDate
--,Succeeded_Time as SucceededTime
--,[Error_Message] as ErrorMessage
--FROM [dbo].[v_InstantBackupJobs40]
--    UNION ALL
--    SELECT 
	
--ServerIP
--,Job_name as JobName
--,Job_Enabled as JobEnabled
--,Frequency
--,Job_Status as JobStatus
--,Job_Duration as JobDuration
--,Succeeded_Date as SucceededDate
--,Succeeded_Time as SucceededTime
--,[Error_Message] as ErrorMessage
--FROM [dbo].[v_InstantBackupJobs44]
--    UNION ALL
--    SELECT 
	
--ServerIP
--,Job_name as JobName
--,Job_Enabled as JobEnabled
--,Frequency
--,Job_Status as JobStatus
--,Job_Duration as JobDuration
--,Succeeded_Date as SucceededDate
--,Succeeded_Time as SucceededTime
--,[Error_Message] as ErrorMessage
--FROM [dbo].[v_InstantBackupJobs48]
--    UNION ALL
--    SELECT 
	
--ServerIP
--,Job_name as JobName
--,Job_Enabled as JobEnabled
--,Frequency
--,Job_Status as JobStatus
--,Job_Duration as JobDuration
--,Succeeded_Date as SucceededDate
--,Succeeded_Time as SucceededTime
--,[Error_Message] as ErrorMessage 
--FROM [dbo].[v_InstantBackupJobs49]
--    UNION ALL
--    SELECT 
--ServerIP
--,Job_name as JobName
--,Job_Enabled as JobEnabled
--,Frequency
--,Job_Status as JobStatus
--,Job_Duration as JobDuration
--,Succeeded_Date as SucceededDate
--,Succeeded_Time as SucceededTime
--,[Error_Message] as ErrorMessage
--FROM [dbo].[v_InstantBackupJobs52]

      ORDER BY 
        succeededdate DESC, succeededtime DESC,jobenabled;

     SET NOCOUNT off;
END;


GO
