USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GetEodExceptionReport]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetEodExceptionReport]
AS
BEGIN
    SET NOCOUNT ON;
	select     
        ClientName,
        left(CONVERT (VARCHAR, ExceptionDate, 120),10) AS ExceptionDate, -- Format as YYYY-MM-DD HH:MM:SS
		--left(ExceptionDate,8)  AS [ExceptionDate],
        ExceptionName,
        NoofBranches,
       -- CAST(CONVERT(NVARCHAR(30), inserted_timestamp, 113) AS NVARCHAR(30)) AS [inserted_timestamp], -- Display formatted timestamp
      -- Add the timestamp for when the data is inserted
        GETDATE() AS inserted_timestamp
	
	FROM 
        t_DBAEodException
    WHERE 
        ---- Filter for the last 5 days based on ExceptionDate
        --ExceptionDate >= DATEADD(DAY, -5, GETDATE())  
        --AND 
        -- Filter to include only today's inserted data
        CAST(inserted_timestamp AS DATE) = CAST(GETDATE() AS DATE)
	ORDER BY 
         inserted_timestamp;


    SET NOCOUNT OFF;
END







GO
