USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GetDisabledJobsAlert]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetDisabledJobsAlert]  
AS  
BEGIN  
    SET NOCOUNT ON;  
 select       
        JobName,
		JobStatus,
		JOBDisabledDateTime,
		ServerIP
 FROM   
        t_DisabledJobsHistory  
    WHERE    
        CAST(InsertedTimestamp AS DATE) = CAST(GETDATE() AS DATE)  
 ORDER BY   
         InsertedTimestamp;  
  
  
    SET NOCOUNT OFF;  
END  
  
  
  
  
  
  
  
GO
