USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_EXE_ARC_GLOWDATAMOVEMENT]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_EXE_ARC_GLOWDATAMOVEMENT]
AS
BEGIN
    SET NOCOUNT ON;

EXEC [172.16.22.48,8181].[master].[dbo].[p_ARC_GLOWDATAMOVEMENT_48]
EXEC [172.16.22.49,8181].[master].[dbo].[p_ARC_GLOWDATAMOVEMENT_49]
EXEC [172.16.22.40,8181].[master].[dbo].[p_ARC_GLOWDATAMOVEMENT_40]
EXEC [172.16.22.52,8181].[master].[dbo].[p_ARC_GLOWDATAMOVEMENT_52]
EXEC [172.16.22.39,8181].[master].[dbo].[p_ARC_GLOWDATAMOVEMENT_39]
EXEC [172.16.22.44,8181].[master].[dbo].[p_ARC_GLOWDATAMOVEMENT_44]
 SET NOCOUNT off;
 SET ANSI_WARNINGS OFF;
END
GO
