USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GetArchivalJobStats]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetArchivalJobStats]
AS
BEGIN
    SET NOCOUNT ON;

    -- Generate last 30 days dynamically using a recursive CTE
    WITH DateSeries AS (
        SELECT CAST(GETDATE() - 30 AS DATE) AS ReportDate
        UNION ALL
        SELECT DATEADD(DAY, 1, ReportDate)
        FROM DateSeries
        WHERE ReportDate < GETDATE()
    )

    -- Fetch job counts per date
    SELECT 
        ds.ReportDate AS JobDate,
        COALESCE(t.job_status, 'Succeeded') AS JobStatus,
        COUNT(t.job_status) AS TotalCount
    FROM DateSeries ds
    LEFT JOIN t_DBAArchivalReport t 
        ON CAST(t.inserted_timestamp AS DATE) = ds.ReportDate
    WHERE t.job_enabled = 1
    GROUP BY ds.ReportDate, t.job_status
    ORDER BY ds.ReportDate

    OPTION (MAXRECURSION 0); -- Ensures no recursion limit

    SET NOCOUNT OFF;
END;
GO
