USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_HisTableSizeDifference]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_HisTableSizeDifference]
AS
BEGIN
    SET NOCOUNT ON;
 
    -- CTE to get today's latest size
    WITH TodayData AS (
        SELECT 
            DatabaseName, 
            SchemaName, 
            TableName, 
         --   TotalSpaceGB,
            RowCounts,
            InsertedTimestamp,
            ROW_NUMBER() OVER (PARTITION BY DatabaseName, SchemaName, TableName 
                               ORDER BY InsertedTimestamp DESC) AS rn
        FROM t_ClientTableSizeLog
        WHERE CAST(InsertedTimestamp AS DATE) = CAST(GETDATE() AS DATE)
          AND TableName IN ('t_LoanClassAccountDetails_His',
't_CBResponseLoanDtls_His',    
't_CBStaggingRuleLog_His',
't_GLOSGroupDetail_His',
't_GLOSClientProfileImage_History  ',
't_Image_History ',
't_CBResponseBatchDetail_His',
't_GLOSClientRelation_His',
't_GLOSClientAddress_His',
't_GLOSClient_His',
't_GLOSClientLoan_His',
't_GLOSClientBankAccount_His',
't_CBStaggingData_His',
't_CBResponseBatch_His',
't_CBResponseSummary_His',
't_GLOSGroupMember_His',
't_GLOSClientExpense_His',
't_Covid19BreakUploadAcct_History',
't_GLOSApplication_His',
't_CBResponseMFIDtls_His',
't_GLOSCenterDetail_His',
't_GLOSMemberCPV2_His',
't_GLOSClientFinancialInfo_His',
't_CBResponseSummaryDtls_His',
't_GLOSGRTMemAttendance_His',
't_GLOSCGTMemAttendance_His',
't_GLOSClientUserFieldData_His',
't_GLOSGRTDetail_His',
't_GLOSCGTDetail_His',
't_ReportToken_His',
't_ReportTokenParaDetail_His',
't_WFLoanApplication_His',
't_WFLoanAppraisal_His',
't_WFLoanAppDetails_His',
't_WFLoanBooking_His',
't_WFLoanAppInsurance_His',
't_GLOSBRNETSubError_His',
't_JVUploadData_History',
't_WFLoanApplicationReversion_His  ',
't_CBResponseError_His',
't_UploadCustTrx_History',
't_UploadUser_History',
't_UploadScheduleTemplate_History',
't_IASC_UploadClientDetail_History ',
't_ClearingBankUpload_History',
't_UploadGeneralLedger_History',
't_AIC_CRMUpload_History',
't_UploadZipCode_History',
't_UploadZipCodeBranch_History',
't_UploadUserFieldData_History',
't_UploadTransferAmt_History',
't_UploadTrxGL_History',
't_GLOSCASubActivityLog_His',
't_UploadTrxGLHO_History',
't_UploadZipCodeCity_History',
't_Utk_GateWayFundDts_History',
't_LoanClassAccountDetails_His1',
't_UploadInsuranceDetails_History',
't_GLOSCreditLoanDecision_His',
't_WFLoanUtilization_His',
't_UploadGLRect_History',
't_UploadGLTrxIB_History',
't_UploadFundRepaySch_History',
't_UploadGLTrxL_History',
't_UploadInsuranceStlm_History',
't_UploadProdBrLNPurpose_History',
't_UploadLFInsDeathClaim_History',
't_UploadLNInsDeathClaim_History',
't_UploadLoanDisbDetail_History',
't_UploadMasterPolicyNo_History',
't_WFClientLog_His',
't_WFClientOtherDetails_His',
't_WFAdvLog_His',
't_RepaymentUpload_History',
't_UJJ_UploadSDAmount_History',
't_SILoanRepaymentUpload_History',
't_KYCUpload_History',
't_WFClientRelation_His',
't_MobileNoUpload_History',
't_WFClientRole_His',
't_WFClientAddress_His',
't_PaymentBankColUpload_History',
't_ProductDeviationUpload_History',
't_UploadExitProcess_History',
't_WFLoanApplRejectionReason_His',
't_UploadExternalTag_History',
't_UploadFundRepayDetail_History',
't_UploadClientAssetTag_History',
't_UploadCurrentAccTrx_History',
't_UploadChangeOfficeReq_History',
't_UploadChequeStatus_History',
't_DeDupErorrLog_His',
't_DedupExtract_His',
't_DeDupRequestLog_His',
't_AccountTrx_His',
't_LoanAccrual_His',
't_LoanAppDetails_His',
't_DeDupResult_His',
't_DeDupRunList_His',
't_CBInquiryHistory_His',
't_LoanInstallment_His',
't_LoanLossProvision_His',
't_CusCardColUpload_History',
't_WFClient_His',
't_DeviationUpload_History',
't_GatewayFundDts_History',
't_WFClientApplication_His',
't_GcoCardColUpload_History',
't_LoanLossProvisionDetail_His',
't_LoanMonthEndAccrual_His',
't_LoanTrx_His',
't_TrxGroup_His',
't_TrxGroupClientDetail_His',
't_TrxGroupDetail_His',
't_TrxGroupPosting_His',
't_TrxGroupPostingDet_His',
't_TrxHistory_His',
't_UserFieldData_His',
't_BankCardUpload_History',
't_BatchProcessUpload_History',
't_CBBankDtlsUpload_History' )
    ),
    YesterdayData AS (
        SELECT 
            DatabaseName, 
            SchemaName, 
            TableName, 
         --   TotalSpaceGB,
            RowCounts,
            ROW_NUMBER() OVER (PARTITION BY DatabaseName, SchemaName, TableName 
                               ORDER BY InsertedTimestamp DESC) AS rn
        FROM t_ClientTableSizeLog
        WHERE CAST(InsertedTimestamp AS DATE) = CAST(DATEADD(DAY, -1, GETDATE()) AS DATE)
                AND TableName IN ('t_LoanClassAccountDetails_His',
't_CBResponseLoanDtls_His',    
't_CBStaggingRuleLog_His',
't_GLOSGroupDetail_His',
't_GLOSClientProfileImage_History  ',
't_Image_History ',
't_CBResponseBatchDetail_His',
't_GLOSClientRelation_His',
't_GLOSClientAddress_His',
't_GLOSClient_His',
't_GLOSClientLoan_His',
't_GLOSClientBankAccount_His',
't_CBStaggingData_His',
't_CBResponseBatch_His',
't_CBResponseSummary_His',
't_GLOSGroupMember_His',
't_GLOSClientExpense_His',
't_Covid19BreakUploadAcct_History',
't_GLOSApplication_His',
't_CBResponseMFIDtls_His',
't_GLOSCenterDetail_His',
't_GLOSMemberCPV2_His',
't_GLOSClientFinancialInfo_His',
't_CBResponseSummaryDtls_His',
't_GLOSGRTMemAttendance_His',
't_GLOSCGTMemAttendance_His',
't_GLOSClientUserFieldData_His',
't_GLOSGRTDetail_His',
't_GLOSCGTDetail_His',
't_ReportToken_His',
't_ReportTokenParaDetail_His',
't_WFLoanApplication_His',
't_WFLoanAppraisal_His',
't_WFLoanAppDetails_His',
't_WFLoanBooking_His',
't_WFLoanAppInsurance_His',
't_GLOSBRNETSubError_His',
't_JVUploadData_History',
't_WFLoanApplicationReversion_His  ',
't_CBResponseError_His',
't_UploadCustTrx_History',
't_UploadUser_History',
't_UploadScheduleTemplate_History',
't_IASC_UploadClientDetail_History ',
't_ClearingBankUpload_History',
't_UploadGeneralLedger_History',
't_AIC_CRMUpload_History',
't_UploadZipCode_History',
't_UploadZipCodeBranch_History',
't_UploadUserFieldData_History',
't_UploadTransferAmt_History',
't_UploadTrxGL_History',
't_GLOSCASubActivityLog_His',
't_UploadTrxGLHO_History',
't_UploadZipCodeCity_History',
't_Utk_GateWayFundDts_History',
't_LoanClassAccountDetails_His1',
't_UploadInsuranceDetails_History',
't_GLOSCreditLoanDecision_His',
't_WFLoanUtilization_His',
't_UploadGLRect_History',
't_UploadGLTrxIB_History',
't_UploadFundRepaySch_History',
't_UploadGLTrxL_History',
't_UploadInsuranceStlm_History',
't_UploadProdBrLNPurpose_History',
't_UploadLFInsDeathClaim_History',
't_UploadLNInsDeathClaim_History',
't_UploadLoanDisbDetail_History',
't_UploadMasterPolicyNo_History',
't_WFClientLog_His',
't_WFClientOtherDetails_His',
't_WFAdvLog_His',
't_RepaymentUpload_History',
't_UJJ_UploadSDAmount_History',
't_SILoanRepaymentUpload_History',
't_KYCUpload_History',
't_WFClientRelation_His',
't_MobileNoUpload_History',
't_WFClientRole_His',
't_WFClientAddress_His',
't_PaymentBankColUpload_History',
't_ProductDeviationUpload_History',
't_UploadExitProcess_History',
't_WFLoanApplRejectionReason_His',
't_UploadExternalTag_History',
't_UploadFundRepayDetail_History',
't_UploadClientAssetTag_History',
't_UploadCurrentAccTrx_History',
't_UploadChangeOfficeReq_History',
't_UploadChequeStatus_History',
't_DeDupErorrLog_His',
't_DedupExtract_His',
't_DeDupRequestLog_His',
't_AccountTrx_His',
't_LoanAccrual_His',
't_LoanAppDetails_His',
't_DeDupResult_His',
't_DeDupRunList_His',
't_CBInquiryHistory_His',
't_LoanInstallment_His',
't_LoanLossProvision_His',
't_CusCardColUpload_History',
't_WFClient_His',
't_DeviationUpload_History',
't_GatewayFundDts_History',
't_WFClientApplication_His',
't_GcoCardColUpload_History',
't_LoanLossProvisionDetail_His',
't_LoanMonthEndAccrual_His',
't_LoanTrx_His',
't_TrxGroup_His',
't_TrxGroupClientDetail_His',
't_TrxGroupDetail_His',
't_TrxGroupPosting_His',
't_TrxGroupPostingDet_His',
't_TrxHistory_His',
't_UserFieldData_His',
't_BankCardUpload_History',
't_BatchProcessUpload_History',
't_CBBankDtlsUpload_History' )
    )
    SELECT 
        T.DatabaseName,
        T.SchemaName,
        T.TableName,
        --ISNULL(Y.TotalSpaceGB, 0) AS YesterdaySizeGB,
        --T.TotalSpaceGB AS TodaySizeGB,
        --(T.TotalSpaceGB - ISNULL(Y.TotalSpaceGB, 0)) AS SizeDifferenceGB,
        ISNULL(Y.RowCounts, 0) AS YesterdayRows,
        T.RowCounts AS TodayRows,
        (T.RowCounts - ISNULL(Y.RowCounts, 0)) AS RowDifference,
        T.InsertedTimestamp AS TodayTimestamp
    FROM TodayData T
    LEFT JOIN YesterdayData Y
        ON T.DatabaseName = Y.DatabaseName
        AND T.SchemaName = Y.SchemaName
        AND T.TableName = Y.TableName
        AND Y.rn = 1
    WHERE T.rn = 1
    ORDER BY DatabaseName ASC--, SizeDifferenceGB DESC;
END;

GO
