USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_Get_ARC_GLOWDATAMOVEMENT]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_Get_ARC_GLOWDATAMOVEMENT]
AS
BEGIN
    SET NOCOUNT ON;
select * from t_ArchiveGlowDataMovResults
where  CAST(insertedTimestamp AS DATE) = CAST(GETDATE() AS DATE)
order by RecordCount desc,DatabaseName
 SET NOCOUNT off;
 SET ANSI_WARNINGS OFF;
END
GO
