USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_GetInstantIndexReport]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_GetInstantIndexReport]

AS
BEGIN
    SET NOCOUNT ON;
select
  distinct  
	ServerIP
	,JobName
	,JobEnabled
	,Frequency
	,JobStatus
	,JobDuration
	,SucceededDate
	,SucceededTime
	,ErrorMessage
from 
t_IndexView


     SET NOCOUNT off;
END;
GO
