USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_InsertIOStatsLog]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_InsertIOStatsLog]
AS
BEGIN
    SET NOCOUNT ON;

   
    CREATE TABLE #IOStatsLog
    (
        ServerIP SYSNAME NOT NULL,
        Drive VARCHAR(10) NOT NULL,
        VolumeMountPoint VARCHAR(255) NOT NULL,
        ReadLatencyMs DECIMAL(18,2) NULL,
        WriteLatencyMs DECIMAL(18,2) NULL,
        OverallLatencyMs DECIMAL(18,2) NULL,
        AvgBytesRead BIGINT NULL,
        AvgBytesWrite BIGINT NULL,
        AvgBytesTransfer BIGINT NULL,
        LogTime DATETIME NOT NULL
    );

    INSERT INTO #IOStatsLog
    SELECT ServerIP, Drive, VolumeMountPoint, ReadLatencyMs, WriteLatencyMs,
           OverallLatencyMs, AvgBytesRead, AvgBytesWrite, AvgBytesTransfer, LogTime
    FROM v_IOStats38

    UNION ALL
    SELECT ServerIP, Drive, VolumeMountPoint, ReadLatencyMs, WriteLatencyMs,
           OverallLatencyMs, AvgBytesRead, AvgBytesWrite, AvgBytesTransfer, LogTime
    FROM v_IOStats39

    UNION ALL
    SELECT ServerIP, Drive, VolumeMountPoint, ReadLatencyMs, WriteLatencyMs,
           OverallLatencyMs, AvgBytesRead, AvgBytesWrite, AvgBytesTransfer, LogTime
    FROM v_IOStats40

    UNION ALL
    SELECT ServerIP, Drive, VolumeMountPoint, ReadLatencyMs, WriteLatencyMs,
           OverallLatencyMs, AvgBytesRead, AvgBytesWrite, AvgBytesTransfer, LogTime
    FROM v_IOStats44

    UNION ALL
    SELECT ServerIP, Drive, VolumeMountPoint, ReadLatencyMs, WriteLatencyMs,
           OverallLatencyMs, AvgBytesRead, AvgBytesWrite, AvgBytesTransfer, LogTime
    FROM v_IOStats48

    UNION ALL
    SELECT ServerIP, Drive, VolumeMountPoint, ReadLatencyMs, WriteLatencyMs,
           OverallLatencyMs, AvgBytesRead, AvgBytesWrite, AvgBytesTransfer, LogTime
    FROM v_IOStats49

    UNION ALL
    SELECT ServerIP, Drive, VolumeMountPoint, ReadLatencyMs, WriteLatencyMs,
           OverallLatencyMs, AvgBytesRead, AvgBytesWrite, AvgBytesTransfer, LogTime
    FROM v_IOStats52

    --UNION ALL
    --SELECT ServerIP, Drive, VolumeMountPoint, ReadLatencyMs, WriteLatencyMs,
    --       OverallLatencyMs, AvgBytesRead, AvgBytesWrite, AvgBytesTransfer, LogTime
    --FROM v_IOStats57;


    INSERT INTO t_IOStatsLog
    (
        ServerIP,
        Drive,
        VolumeMountPoint,
        ReadLatencyMs,
        WriteLatencyMs,
        OverallLatencyMs,
        AvgBytesRead,
        AvgBytesWrite,
        AvgBytesTransfer,
        LogTime
    )
    SELECT
        ServerIP,
        Drive,
        VolumeMountPoint,
        ReadLatencyMs,
        WriteLatencyMs,
        OverallLatencyMs,
        AvgBytesRead,
        AvgBytesWrite,
        AvgBytesTransfer,
        LogTime
    FROM #IOStatsLog;


    SELECT *, GETDATE() AS InsertedTimestamp
    FROM #IOStatsLog
    ORDER BY LogTime DESC;

    DROP TABLE #IOStatsLog;

    SET NOCOUNT OFF;
END;



--create synonym [v_IOStats38] for [172.16.22.38,8181].[master].[dbo].[v_IOStats38]
--create synonym [v_IOStats39] for [172.16.22.39,8181].[master].[dbo].[v_IOStats39]
--create synonym [v_IOStats40] for [172.16.22.40,8181].[master].[dbo].[v_IOStats40]
--create synonym [v_IOStats44] for [172.16.22.44,8181].[master].[dbo].[v_IOStats44]
--create synonym [v_IOStats48] for [172.16.22.48,8181].[master].[dbo].[v_IOStats48]
--create synonym [v_IOStats49] for [172.16.22.49,8181].[master].[dbo].[v_IOStats49]
--create synonym [v_IOStats52] for [172.16.22.52,8181].[master].[dbo].[v_IOStats52]
--create synonym [v_IOStats57] for [master].[dbo].[v_IOStats57]



GO
