USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_StoredGetAllIndexReportPaginated]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_StoredGetAllIndexReportPaginated]
    @PageNo INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH IndexCTE AS (
        SELECT 
            ServerIP,
            JobName,
            JobEnabled,
            Frequency,
            JobStatus,
            JobDuration,
            SucceededDate,
            SucceededTime,
            ErrorMessage,
            InsertedTimestamp,
            ROW_NUMBER() OVER (ORDER BY SucceededDate DESC, SucceededTime DESC) AS RowNum
        FROM t_StoredIndexView
    )
    SELECT *
    FROM IndexCTE
    WHERE RowNum BETWEEN ((@PageNo - 1) * @PageSize + 1)
                     AND (@PageNo * @PageSize)
    ORDER BY RowNum;

    SET NOCOUNT OFF;
END;


GO
