USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[pj_AppJobFailedReport]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pj_AppJobFailedReport]    
AS    
Begin    
SET NOCOUNT ON;    
    
WITH FailedJobs AS (    
    SELECT '172.16.22.52' AS ServerIP, job_name, job_enabled, frequency, job_status, succeeded_date, succeeded_time, error_message FROM V_JobsStatus52    
    UNION ALL    
    SELECT '172.16.22.40' AS ServerIP, job_name, job_enabled, frequency, job_status, succeeded_date, succeeded_time, error_message FROM V_JobsStatus40    
    UNION ALL    
    SELECT '172.16.22.44' AS ServerIP, job_name, job_enabled, frequency, job_status, succeeded_date, succeeded_time, error_message FROM V_JobsStatus111    
    UNION ALL    
    SELECT '172.16.22.48' AS ServerIP, job_name, job_enabled, frequency, job_status, succeeded_date, succeeded_time, error_message FROM V_JobsStatus48    
    UNION ALL    
     SELECT
    ServerIP,
    job_name,
    job_enabled,
    frequency,
    job_status,

    ---- JobDuration → TIME
    --TRY_CONVERT(TIME(0), JobDurationStr),

    -- Date → DATETIME
    TRY_CONVERT(
        DATETIME,
        CONVERT(CHAR(8), succeeded_date)
    ),

    -- Time → DATETIME (anchored)
    TRY_CONVERT(
        DATETIME,
        '19000101 ' +
        STUFF(
            STUFF(RIGHT('000000' + succeeded_time, 6), 3, 0, ':'),
            6, 0, ':'
        )
    ),

    error_message
FROM  [dbo].[V_JobsStatus49]
    UNION ALL    
    SELECT '172.16.22.39' AS ServerIP, job_name, job_enabled, frequency, job_status, succeeded_date, succeeded_time, error_message FROM V_JobsStatus39    
)    
    
SELECT     
    ServerIP,     
    job_name,     
    job_enabled,     
    frequency,     
    job_status,     
    succeeded_date,     
    succeeded_time,     
    error_message      
FROM FailedJobs    
WHERE job_status = 'Failed'    
    AND job_enabled = 1    
    AND job_name NOT LIKE '%index%'    
    AND job_name NOT LIKE '%maint%'    
    AND job_name NOT LIKE '%indexing%'    
    AND job_name NOT LIKE '%fullreindex%'    
    AND job_name NOT LIKE '%fullreindexing%'    
    AND job_name NOT LIKE '%reindexing%'    
    AND job_name NOT LIKE '%ARC%'    
    AND job_name NOT LIKE '%Archival%'    
    AND job_name NOT LIKE '%backup%'    
    AND job_name NOT LIKE '%bak%'    
    AND job_name NOT LIKE '%subplan_1%'    
    AND job_name NOT LIKE '%LSAlert%'  
 AND job_name NOT LIKE 'DBA%'  
 AND error_message not like '%Implicit conversion from data type xml to nvarchar(max) is not allowed. Use the CONVERT function to run this query%'    
 AND error_message not like '%Cannot get the data of the row from the OLE DB provider "SQLNCLI11" for linked server "172.16.22.57%'    
 AND error_message not like '%Cannot get the data of the row from the OLE DB provider "MSOLEDBSQL" for linked%'  
 AND error_message not like '% because the database is read-only%'  
 AND job_name not like'%Shrinking monitor%' 
  AND job_name not like'%Shrinking%'
   AND job_name not like'%Shrinkfile%'
   and job_name not like '%EOD_EXCEPTIONS_REPORT%'
   and job_name not like '%EOD_EXCEPTION%'
   and job_name not like '%EXCEPTION_REPORT%'
ORDER BY succeeded_date DESC, succeeded_time DESC, job_enabled;    
    
SET NOCOUNT OFF;    
end 



GO
