USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GetDatabaseSizePivot]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[p_GetDatabaseSizePivot]
(
    @StartDate DATE,
    @EndDate   DATE,
    @ServerIP  NVARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH BaseData AS
    (
        SELECT
            c.ClientName,
            d.server_ip,
            d.dbname,
            d.dbsize,
            d.inserted_timestamp,

            -- normalize size to GB
            CASE
                WHEN d.dbsize LIKE '% GB' THEN TRY_CAST(REPLACE(d.dbsize, ' GB', '') AS FLOAT)
                WHEN d.dbsize LIKE '% MB' THEN TRY_CAST(REPLACE(d.dbsize, ' MB', '') AS FLOAT) / 1024
                WHEN d.dbsize LIKE '% TB' THEN TRY_CAST(REPLACE(d.dbsize, ' TB', '') AS FLOAT) * 1024
            END AS size_gb,

            CAST(d.inserted_timestamp AS DATE) AS dt
        FROM t_DBGrowthReport d
        INNER JOIN t_clientname c
            ON d.dbname LIKE '%' + c.ClientName + '%'
        WHERE d.server_ip = @ServerIP
          AND CAST(d.inserted_timestamp AS DATE) IN (@StartDate, @EndDate)
    )
    SELECT
        ClientName,
        server_ip AS ServerIP,
        dbname AS DBName,

        MAX(CASE WHEN dt = @StartDate THEN dbsize END) AS StartDateSize,
        MAX(CASE WHEN dt = @EndDate   THEN dbsize END) AS EndDateSize,

        CASE
            WHEN MAX(CASE WHEN dt = @StartDate THEN size_gb END) IS NOT NULL
             AND MAX(CASE WHEN dt = @EndDate   THEN size_gb END) IS NOT NULL
            THEN
                CASE
                    WHEN ABS(
                        MAX(CASE WHEN dt = @EndDate THEN size_gb END)
                      - MAX(CASE WHEN dt = @StartDate THEN size_gb END)
                    ) >= 1024
                    THEN CAST(
                        (
                            MAX(CASE WHEN dt = @EndDate THEN size_gb END)
                          - MAX(CASE WHEN dt = @StartDate THEN size_gb END)
                        ) / 1024 AS NVARCHAR(50)
                    ) + ' GB'
                    ELSE CAST(
                        (
                            MAX(CASE WHEN dt = @EndDate THEN size_gb END)
                          - MAX(CASE WHEN dt = @StartDate THEN size_gb END)
                        ) * 1024 AS NVARCHAR(50)
                    ) + ' MB'
                END
        END AS SizeDifference
    FROM BaseData
    GROUP BY ClientName, server_ip, dbname
    HAVING
        MAX(CASE WHEN dt = @StartDate THEN size_gb END) IS NOT NULL
        AND MAX(CASE WHEN dt = @EndDate THEN size_gb END) IS NOT NULL;

    SET NOCOUNT OFF;
END;
GO
