USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[P_GetAllDisabledJobsStatus]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_GetAllDisabledJobsStatus]
AS
BEGIN
    SET NOCOUNT ON;
	select * from t_AllJobsView where jobenabled = 0
     SET NOCOUNT off;
END;


GO
