USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GET_CB_EnquiryStatus_Report]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[p_GET_CB_EnquiryStatus_Report]
AS
BEGIN
    SET NOCOUNT ON;
EXEC [172.16.22.44,8181]. master.dbo.p_CB_EnquiryStatus_Report 
 @DatabaseList = 'BELSTAR';
 EXEC [172.16.22.48,8181]. master.dbo.p_CB_EnquiryStatus_Report 
 @DatabaseList = 'SATYA';
 EXEC [172.16.22.49,8181]. master.dbo.p_CB_EnquiryStatus_Report 
 @DatabaseList = 'SAMASTA_LIVE';
 EXEC [172.16.22.39,8181]. master.dbo.p_CB_EnquiryStatus_Report 
 @DatabaseList = 'SAVE,AICL_LIVE,ACFL_LIVE,ASA,VISIONFUND';
 EXEC [172.16.22.52,8181]. master.dbo.p_CB_EnquiryStatus_Report 
 @DatabaseList = 'PAHAL,LB_LIVE,SCPL';
 EXEC [172.16.22.40,8181]. master.dbo.p_CB_EnquiryStatus_Report 
 @DatabaseList = 'AFPL_LIVE,TCFSL,VFS,LOLC,SAHAYOG_LIVE';

   SET NOCOUNT OFF;
END;

GO
