USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[Pj_DBsizeInsertintoTableDaily]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pj_DBsizeInsertintoTableDaily]    
AS    
BEGIN    
    SET NOCOUNT ON;    
 insert into t_DBGrowthReport    
    -- Combine data from all specified views    
    SELECT * FROM v_DatabaseGrowthReport39    
    UNION ALL    
    SELECT * FROM v_DatabaseGrowthReport49    
    UNION ALL    
    SELECT * FROM v_DatabaseGrowthReport48    
    UNION ALL    
    SELECT * FROM v_DatabaseGrowthReport44    
    UNION ALL    
    SELECT * FROM v_DatabaseGrowthReport52    
    UNION ALL    
    SELECT * FROM v_DatabaseGrowthReport40    
    
     SET NOCOUNT off;    
END;    
    
    
    
    
    
  select * from [t_DBGrowthReportDaily]  
    
              
GO
