USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_GenerateJobsDisabled]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GenerateJobsDisabled]   
AS    
BEGIN    
    SET NOCOUNT ON;    
    
    -- Report for successful backups including 'is_alert_sent'    
    SELECT   
        job_name AS [job_name],    
     CASE 
            WHEN job_enabled = 0 THEN 'Disabled' 
            ELSE 'Enabled' 
        END AS [job_enabled],   
        frequency AS [frequency],    
        job_status AS [job_status],    
     left(cast(job_duration  as varchar(50)),8)  AS [job_duration],  -- Seconds  
        CAST(succeeded_date AS NVARCHAR(30)) AS [succeeded_date],    
        left(cast(succeeded_time  as varchar(50)),8)  AS [succeeded_time],    
        error_message AS [error_message],    
        CAST(CONVERT(NVARCHAR(30), inserted_timestamp, 113) AS NVARCHAR(30)) AS [inserted_timestamp]    
        --CAST(is_alert_sent AS NVARCHAR(30)) AS [is_alert_sent] -- Added this column    
    FROM     
        t_DBADailyJobsReport     
    WHERE     
        job_enabled = 0 
		and  
       -- AND job_status = 'Succeeded'     
        CAST(inserted_timestamp AS DATE) = CAST(GETDATE() AS DATE)  
  order by [job_name],inserted_timestamp  
    
    SET NOCOUNT OFF;    
END 




GO
