USE [DBA_DAILY_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[p_InsertReportTopDiskUsageTablesinsert]    Script Date: 04-02-2026 16:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_InsertReportTopDiskUsageTablesinsert]
AS
BEGIN
    SET NOCOUNT ON;
	truncate table AllTableSizes;
INSERT INTO  AllTableSizes
SELECT *
FROM OPENQUERY([172.16.22.44,8181],
'
EXEC master.dbo.p_GetTopDiskUsageTables
WITH RESULT SETS
(
(
    DatabaseName SYSNAME,
    SchemaName   SYSNAME,
    TableName    SYSNAME,
    Rows         BIGINT,
    SizeKB       BIGINT,
    SizeMB       BIGINT,
    SizeGB       DECIMAL(10,2)
)
)
');
INSERT INTO  AllTableSizes
SELECT *
FROM OPENQUERY([172.16.22.48,8181],
'
EXEC master.dbo.p_GetTopDiskUsageTables
WITH RESULT SETS
(
(
    DatabaseName SYSNAME,
    SchemaName   SYSNAME,
    TableName    SYSNAME,
    Rows         BIGINT,
    SizeKB       BIGINT,
    SizeMB       BIGINT,
    SizeGB       DECIMAL(10,2)
)
)
');
INSERT INTO  AllTableSizes
SELECT *
FROM OPENQUERY([172.16.22.49,8181],
'
EXEC master.dbo.p_GetTopDiskUsageTables
WITH RESULT SETS
(
(
    DatabaseName SYSNAME,
    SchemaName   SYSNAME,
    TableName    SYSNAME,
    Rows         BIGINT,
    SizeKB       BIGINT,
    SizeMB       BIGINT,
    SizeGB       DECIMAL(10,2)
)
)
');
INSERT INTO  AllTableSizes
SELECT *
FROM OPENQUERY([172.16.22.39,8181],
'
EXEC master.dbo.p_GetTopDiskUsageTables
WITH RESULT SETS
(
(
    DatabaseName SYSNAME,
    SchemaName   SYSNAME,
    TableName    SYSNAME,
    Rows         BIGINT,
    SizeKB       BIGINT,
    SizeMB       BIGINT,
    SizeGB       DECIMAL(10,2)
)
)
');
INSERT INTO  AllTableSizes
SELECT *
FROM OPENQUERY([172.16.22.52,8181],
'
EXEC master.dbo.p_GetTopDiskUsageTables
WITH RESULT SETS
(
(
    DatabaseName SYSNAME,
    SchemaName   SYSNAME,
    TableName    SYSNAME,
    Rows         BIGINT,
    SizeKB       BIGINT,
    SizeMB       BIGINT,
    SizeGB       DECIMAL(10,2)
)
)
');
INSERT INTO  AllTableSizes
SELECT *
FROM OPENQUERY([172.16.22.40,8181],
'
EXEC master.dbo.p_GetTopDiskUsageTables
WITH RESULT SETS
(
(
    DatabaseName SYSNAME,
    SchemaName   SYSNAME,
    TableName    SYSNAME,
    Rows         BIGINT,
    SizeKB       BIGINT,
    SizeMB       BIGINT,
    SizeGB       DECIMAL(10,2)
)
)
');
INSERT INTO  AllTableSizes
SELECT *
FROM OPENQUERY([172.16.22.62,8181],
'
EXEC master.dbo.p_GetTopDiskUsageTables
WITH RESULT SETS
(
(
    DatabaseName SYSNAME,
    SchemaName   SYSNAME,
    TableName    SYSNAME,
    Rows         BIGINT,
    SizeKB       BIGINT,
    SizeMB       BIGINT,
    SizeGB       DECIMAL(10,2)
)
)
');



   SET NOCOUNT OFF;
END;





GO
