USE [master]
GO
/****** Object:  View [dbo].[v_tempdbsessions48]    Script Date: 04-02-2026 16:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_tempdbsessions48]    
AS    
SELECT 
     '172.16.22.48'as Server_IP ,
    tsk.session_id,
    s.login_name,
    s.host_name,
    (tsk.user_objects_alloc_page_count + tsk.internal_objects_alloc_page_count) * 8 / 1024 AS TempDB_MB,
    r.status,
    r.command,
    DB_NAME(r.database_id) AS DBName,
    CONVERT(NVARCHAR(MAX), t.text) AS SQLText ,
	 getdate() as insertedtimestamp-- explicit conversion
FROM sys.dm_db_task_space_usage AS tsk
JOIN sys.dm_exec_sessions AS s ON tsk.session_id = s.session_id
JOIN sys.dm_exec_requests AS r ON r.session_id = s.session_id
CROSS APPLY sys.dm_exec_sql_text(r.sql_handle) AS t;
GO
