USE [master]
GO
/****** Object:  View [dbo].[V_DeadlockProcedure48]    Script Date: 04-02-2026 16:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DeadlockProcedure48]
AS
WITH TimeBounds AS
(
    -- Calculate once
    SELECT
        DATEADD(HOUR, -1, GETDATE()) AS StartTimeLocal,
        GETDATE() AS EndTimeLocal,
        DATEDIFF(HOUR, GETUTCDATE(), GETDATE()) AS TZOffset
),
DeadlockData AS
(
    SELECT
        CAST(event_data AS XML) AS DeadlockDetails
    FROM sys.fn_xe_file_target_read_file
    (
        'system_health*.xel',
        NULL,
        NULL,
        NULL
    )
    CROSS JOIN TimeBounds t
    WHERE object_name = 'xml_deadlock_report'
      AND DATEADD
      (
          HOUR,
          -t.TZOffset,
          CAST(event_data AS XML).value('(event/@timestamp)[1]', 'datetime2')
      ) >= t.StartTimeLocal
      AND DATEADD
      (
          HOUR,
          -t.TZOffset,
          CAST(event_data AS XML).value('(event/@timestamp)[1]', 'datetime2')
      ) < t.EndTimeLocal
),
FrameData AS
(
    SELECT
        f.value('@procname', 'NVARCHAR(256)') AS StoredProcedureName,
        f.value('@line', 'INT') AS LineNumber
    FROM DeadlockData dd
    CROSS APPLY dd.DeadlockDetails.nodes(
        '//executionStack/frame[@procname]'
    ) AS x(f)
)
SELECT
    CAST('172.16.22.48' AS NVARCHAR(15)) AS InstanceIP,
    StoredProcedureName,
    LineNumber,
    COUNT_BIG(*) AS KillCount,
    GETDATE() AS InsertedTimestamp
FROM FrameData
WHERE
    StoredProcedureName NOT LIKE 'sys.%'
    AND StoredProcedureName NOT LIKE 'sp_%'
    AND StoredProcedureName NOT LIKE '%adhoc%'
    AND StoredProcedureName NOT LIKE '%ms%'
    AND StoredProcedureName NOT LIKE '%unknown%'
GROUP BY
    StoredProcedureName,
    LineNumber
HAVING COUNT_BIG(*) > 5;


GO
