USE [master]
GO
/****** Object:  View [dbo].[v_ServerPerformance48]    Script Date: 04-02-2026 16:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ServerPerformance48]
AS
SELECT
    '172.16.22.48' AS InstanceIP,

    /* ================= CPU Usage % ================= */
    (
       SELECT CASE 
           WHEN AVG(wait_time_ms) > 0 
                THEN (100 - AVG(signal_wait_time_ms * 1.0 / NULLIF(wait_time_ms, 0)) * 100) 
                ELSE 0 
       END
       FROM sys.dm_os_wait_stats
       WHERE wait_type NOT IN ('SLEEP_TASK', 'SLEEP_BPOOL_FLUSH')
    ) AS CPUUsagePercent,

    /* ================= Memory Usage % ================= */
    (
       SELECT CASE 
            WHEN total_physical_memory_kb > 0 
                 THEN ((total_physical_memory_kb - available_physical_memory_kb) / (total_physical_memory_kb * 1.0)) * 100
                 ELSE 0 
       END
       FROM sys.dm_os_sys_memory
    ) AS MemoryUsagePercent,

    /* ================= Disk Used (GB) ================= */
    --(
    --   SELECT 
    --       CAST(
    --           SUM((vs.total_bytes - vs.available_bytes) / 1024.0 / 1024 / 1024)
    --           AS DECIMAL(10,2)
    --       )
    --   FROM sys.master_files mf
    --   CROSS APPLY sys.dm_os_volume_stats(mf.database_id, mf.file_id) vs
    --) AS DiskUsedGB,

    /* ================= Disk Usage (%) ================= */
    (
       SELECT 
           CAST(
               (SUM(vs.total_bytes - vs.available_bytes) * 100.0) / SUM(vs.total_bytes)
               AS DECIMAL(10,2)
           )
       FROM sys.master_files mf
       CROSS APPLY sys.dm_os_volume_stats(mf.database_id, mf.file_id) vs
    ) AS DiskUsagePercent,

    /* ================= Active Sessions ================= */
    (
       SELECT COUNT(*)
       FROM sys.dm_exec_sessions
       WHERE is_user_process = 1
    ) AS ActiveSessions,

    GETDATE() AS LastUpdated;
GO
