USE [master]
GO
/****** Object:  View [dbo].[v_LongRunningSessions48]    Script Date: 04-02-2026 16:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_LongRunningSessions48] AS
SELECT 
    '172.16.22.48,8181' as ServerIP,
    s.session_id,
    r.STATUS,
    r.blocking_session_id AS blocked_by,
    'KILL ' + CAST(s.session_id AS NVARCHAR(100)) AS kill_command,
    CONVERT(VARCHAR, DATEADD(ms, r.wait_time, 0), 8) AS wait_time,
    CONVERT(VARCHAR, DATEADD(ms, r.total_elapsed_time, 0), 8) AS elapsed_time,
    COALESCE(
        QUOTENAME(DB_NAME(st.dbid)) + N'.' + 
        QUOTENAME(OBJECT_SCHEMA_NAME(st.objectid, st.dbid)) + N'.' + 
        QUOTENAME(OBJECT_NAME(st.objectid, st.dbid)), 
        ''
    ) AS stored_proc,
    r.command,
    s.login_name,
    s.host_name,
    s.program_name,
    s.last_request_end_time,
    r.open_transaction_count
FROM sys.dm_exec_sessions AS s
INNER JOIN sys.dm_exec_requests AS r 
    ON r.session_id = s.session_id
CROSS APPLY sys.dm_exec_sql_text(r.sql_handle) AS st
OUTER APPLY sys.dm_exec_query_plan(r.plan_handle) AS qp
WHERE 
    (r.wait_type NOT LIKE 'SP_SERVER_DIAGNOSTICS%' OR r.session_id != @@SPID)
GO
