USE [master]
GO
/****** Object:  View [dbo].[v_DriveSpaceStatus48]    Script Date: 04-02-2026 16:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_DriveSpaceStatus48]
AS
SELECT
    '172.16.22.48' AS ServerIP,
    vs.volume_mount_point,
    vs.logical_volume_name,
    ROUND(MAX(vs.total_bytes) / 1073741824.0, 2) AS Total_GB,     -- GB as decimal
    ROUND(MAX(vs.available_bytes) / 1073741824.0, 2) AS Free_GB,
    ROUND(MAX(vs.total_bytes) / 1099511627776.0, 3) AS Total_TB,  -- TB as decimal
    ROUND(MAX(vs.available_bytes) / 1099511627776.0, 3) AS Free_TB
FROM sys.master_files AS mf
CROSS APPLY sys.dm_os_volume_stats(mf.database_id, mf.file_id) AS vs
GROUP BY
    vs.volume_mount_point,
    vs.logical_volume_name;
GO
