USE [master]
GO
/****** Object:  StoredProcedure [dbo].[Pj_Fetchdatabaseaccess]    Script Date: 04-02-2026 16:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Pj_Fetchdatabaseaccess]
AS
BEGIN
    SET NOCOUNT ON;

    IF OBJECT_ID('tempdb..#TempDBAccess') IS NOT NULL
        DROP TABLE #TempDBAccess;

    CREATE TABLE #TempDBAccess
    (
        DatabaseName NVARCHAR(128),
        Server_IP NVARCHAR(50),
        UserName NVARCHAR(128),
        Status NVARCHAR(20),
        DBRole NVARCHAR(128),
        DBPermissions NVARCHAR(MAX),
        Inserted_Time DATETIME
    );

    DECLARE @DBName NVARCHAR(128);
    DECLARE @SQL NVARCHAR(MAX);

    DECLARE db_cursor CURSOR FOR
        SELECT name 
        FROM sys.databases 
        WHERE state_desc = 'ONLINE' 
          AND name NOT IN ('master', 'tempdb', 'model', 'msdb');  

    OPEN db_cursor;
    FETCH NEXT FROM db_cursor INTO @DBName;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @SQL = '
        INSERT INTO #TempDBAccess
        SELECT 
            ''' + @DBName + ''' AS DatabaseName,
            CONVERT(NVARCHAR(50), CONNECTIONPROPERTY(''local_net_address'')) AS Server_IP,
            l.name AS UserName,
            CASE 
                WHEN l.is_disabled = 0 THEN ''Enabled''
                ELSE ''Disabled''
            END AS Status,
            dp1.name AS DBRole,
            STUFF(
                (
                    SELECT '', '' + p.permission_name
                    FROM ' + QUOTENAME(@DBName) + '.sys.database_permissions p
                    WHERE p.grantee_principal_id = dp.principal_id
                    FOR XML PATH(''''), TYPE
                ).value(''.'', ''NVARCHAR(MAX)''), 1, 2, ''''
            ) AS DBPermissions,
            GETDATE() AS Inserted_Time
        FROM ' + QUOTENAME(@DBName) + '.sys.sql_logins l
        LEFT JOIN ' + QUOTENAME(@DBName) + '.sys.database_principals dp ON l.name = dp.name
        LEFT JOIN ' + QUOTENAME(@DBName) + '.sys.database_role_members drm ON dp.principal_id = drm.member_principal_id
        LEFT JOIN ' + QUOTENAME(@DBName) + '.sys.database_principals dp1 ON drm.role_principal_id = dp1.principal_id
        WHERE dp.name IS NOT NULL;
        ';

        EXEC sp_executesql @SQL;
        FETCH NEXT FROM db_cursor INTO @DBName;
    END

    CLOSE db_cursor;
    DEALLOCATE db_cursor;

    INSERT INTO t_Fetchdatabaseaccess
    SELECT * FROM #TempDBAccess;

    DROP TABLE #TempDBAccess;

    SET NOCOUNT OFF;
END;
GO
