USE [master]
GO
/****** Object:  StoredProcedure [dbo].[p_tempdb_logspace_48]    Script Date: 04-02-2026 16:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_tempdb_logspace_48]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ServerIP VARCHAR(50) = '172.16.22.48';

    CREATE TABLE #LogSpace
    (
        DatabaseName SYSNAME,
        LogSizeMB FLOAT,
        LogSpaceUsedPercent FLOAT,
        Status INT
    );

    INSERT INTO #LogSpace
    EXEC ('DBCC SQLPERF(LOGSPACE)');
	insert into t_tempdbLogSpace
    SELECT  
          @ServerIP AS Server_IP,
          DatabaseName,
          LogSizeMB,
          LogSpaceUsedPercent,
          Status,
          GETDATE() AS InsertedTimestamp
    FROM #LogSpace
    WHERE DatabaseName LIKE '%tempdb%'
      AND DatabaseName NOT LIKE '%BrNetTempDB%';
	 
	 drop table #LogSpace
	 
END;

--select * from sys.synonyms where name like '%t_tempdbLogSpace%'


--[172.16.22.57,8181].[DBA_DILY_REPORT].[dbo].[t_tempdbLogSpace]
GO
