USE [master]
GO
/****** Object:  StoredProcedure [dbo].[p_GetSessionObject]    Script Date: 04-02-2026 16:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[p_GetSessionObject]
AS
BEGIN
	DBCC INPUTBUFFER(@@SPID)
END
GO
