USE [master]
GO
/****** Object:  StoredProcedure [dbo].[p_GetTopDiskUsageTables]    Script Date: 04-02-2026 16:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetTopDiskUsageTables]
AS
BEGIN
    SET NOCOUNT ON;

    IF OBJECT_ID('tempdb..#AllTableSizes') IS NOT NULL
        DROP TABLE #AllTableSizes;

    CREATE TABLE #AllTableSizes
    (
        DatabaseName SYSNAME,
        SchemaName   SYSNAME,
        TableName    SYSNAME,
        Rows         BIGINT,
        SizeKB       BIGINT,
        SizeMB       BIGINT,
        SizeGB       DECIMAL(10,2)
    );

    DECLARE @sql NVARCHAR(MAX) = N'';

    SELECT @sql += N'
USE ' + QUOTENAME(name) + N';

INSERT INTO #AllTableSizes
SELECT
    DB_NAME()                                AS DatabaseName,
    s.name                                   AS SchemaName,
    t.name                                   AS TableName,
    SUM(ps.row_count)                        AS Rows,
    SUM(ps.reserved_page_count) * 8          AS SizeKB,
    (SUM(ps.reserved_page_count) * 8) / 1024 AS SizeMB,
    CAST((SUM(ps.reserved_page_count) * 8) 
         / 1024.0 / 1024.0 AS DECIMAL(10,2)) AS SizeGB
FROM sys.tables t
JOIN sys.schemas s 
    ON t.schema_id = s.schema_id
JOIN sys.dm_db_partition_stats ps
    ON t.object_id = ps.object_id
WHERE ps.index_id IN (0,1)
GROUP BY s.name, t.name;
'
    FROM sys.databases
    WHERE database_id > 4
      AND state_desc = 'ONLINE';

    EXEC sys.sp_executesql @sql;

    SELECT *
    FROM #AllTableSizes
    WHERE SizeGB >= 0.5
    ORDER BY SizeGB DESC;
END;
GO
