USE [master]
GO
/****** Object:  StoredProcedure [dbo].[pj_GetEodExceptions]    Script Date: 04-02-2026 16:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pj_GetEodExceptions]
AS
BEGIN
    SET NOCOUNT ON;
DECLARE @sql NVARCHAR(MAX);
drop table if exists #temp
Create table #temp
(
clientname varchar(max),
exceptiondate date,
 exceptionname varchar(max),
 noofbranches int,
 inserted_timestamp as GETDATE()
)
-- Start building the dynamic SQL for all databases
SET @sql = '';

-- Use sp_msforeachdb to iterate over each database
EXEC sp_msforeachdb N'
USE [?];
IF EXISTS (SELECT * FROM sys.tables  WHERE name =''t_SysExceptionDetail'')
and  EXISTS (SELECT * FROM sys.databases WHERE name = ''?'' AND state_desc = ''ONLINE'')
BEGIN
    -- Query to be executed on each database
	insert into #temp
    SELECT 
        t_SystemBankSetting.BankName AS [ClientName], 
        cast(t_SysExceptionDetail.ProcessDate as date)AS [ExceptionDate], 
        CONCAT(t_SysExceptionDetail.ExceptionID, '' - '', t_SysExceptions.Description) AS [ExceptionName],
        COUNT(t_SysExceptionDetail.OurBranchID) AS [NoOfBranches]
    FROM 
        t_SysExceptionDetail WITH (NOLOCK)
    INNER JOIN 
        t_systembranchstatus WITH (NOLOCK) 
        ON t_SysExceptionDetail.OurBranchID = t_systembranchstatus.OurBranchID
    INNER JOIN 
        t_SystemBranchSetting WITH (NOLOCK) 
        ON t_SysExceptionDetail.OurBranchID = t_SystemBranchSetting.OurBranchID
        AND t_SystemBranchSetting.BranchStatusID = ''A''
    INNER JOIN 
        t_SystemBankSetting 
        ON t_SystemBranchSetting.BankID = t_SystemBankSetting.BankID
    INNER JOIN 
        t_SysExceptions 
        ON t_SysExceptionDetail.ExceptionID = t_SysExceptions.ExceptionID
    WHERE 
        t_SysExceptionDetail.ProcessDate = t_systembranchstatus.EODDate
        AND t_SysExceptions.ApplicableOnProcessID <> ''COB''
        AND t_SysExceptionDetail.ExceptionID NOT IN (
            ''EXP21'', ''EXP22'', ''EXP29'', ''EXP34'', ''EXP35'', ''EXP36'', 
            ''EXP37'', ''EXP38'', ''EXP39'', ''EXP44'', ''EXP45'', ''EXP46'', 
            ''EXP47'', ''EXP48'', ''EXP49'', ''EXP61'',''EXP68'',''EXP69''
        )
    GROUP BY 
        t_SystemBankSetting.BankName, 
        t_SysExceptionDetail.ProcessDate, 
        t_SysExceptionDetail.ExceptionID, 
        t_SysExceptions.Description
    ORDER BY 
        t_SysExceptionDetail.ExceptionID;
END
';
--print  @sql
---- Execute the dynamic SQL
--EXEC sp_executesql @sql;
insert into [172.16.22.57,8181].[DBA_DAILY_REPORT].[DBO].[t_DBAEodException]
select *From #temp
drop table #temp
 SET NOCOUNT OFF;
 end



GO
