USE [master]
GO
/****** Object:  StoredProcedure [dbo].[pj_DatabaseSizeLog]    Script Date: 04-02-2026 16:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pj_DatabaseSizeLog]
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @DBName		nvarchar(100)
	DECLARE @CreatedOn	DateTime = GETDATE()

	IF OBJECT_ID( 't_DatabaseSizeLog','U') IS NULL
	BEGIN 
		CREATE TABLE [dbo].t_DatabaseSizeLog
		(
			DBName					nvarchar(100) NULL,
			TableName				nvarchar(200) NULL,
			SchemaName				nvarchar(200) NULL,
			rows					Bigint NULL,
			TotalSpaceKB			NUMERIC(36, 2) NULL,
			UsedSpaceKB				NUMERIC(36, 2) NULL,
			UnusedSpaceKB			NUMERIC(36, 2) NULL,
			CreatedOn				DateTime NULL
		) ON [PRIMARY]
 
		 CREATE CLUSTERED INDEX [IX_t_DatabaseSizeLog] ON [dbo].t_DatabaseSizeLog
		(
			CreatedOn
		)
	END

	SET @DBName = DB_NAME()
	
	DELETE FROM t_DatabaseSizeLog
	WHERE CAST(CreatedOn as DATE) = CAST(@CreatedOn as DATE)

	INSERT INTO t_DatabaseSizeLog
	(
		DBName			,
		TableName		,
		SchemaName		,
		rows			,
		TotalSpaceKB	,
		UsedSpaceKB		,
		UnusedSpaceKB	,
		CreatedOn		
	)
 	SELECT 
			@DBName,
			t.name AS TableName,
			s.name AS SchemaName,
			p.rows,
			SUM(a.total_pages) * 8 AS TotalSpaceKB, 
			SUM(a.used_pages) * 8 AS UsedSpaceKB, 
			(SUM(a.total_pages) - SUM(a.used_pages)) * 8 AS UnusedSpaceKB,
			@CreatedOn
   FROM 
		sys.tables t
	INNER JOIN      
		sys.indexes i ON t.object_id = i.object_id
	INNER JOIN 
		sys.partitions p ON i.object_id = p.object_id AND i.index_id = p.index_id
	INNER JOIN 
		sys.allocation_units a ON p.partition_id = a.container_id
	LEFT OUTER JOIN 
		sys.schemas s ON t.schema_id = s.schema_id
	WHERE 
		--t.name NOT LIKE 'dt%' 
		--AND
		t.is_ms_shipped = 0
		AND i.object_id > 255 
	GROUP BY 
		t.name, s.name, p.rows
	ORDER BY 
		TotalSpaceKB DESC, t.name


	SET NOCOUNT OFF
END
GO
