USE [master]
GO
/****** Object:  StoredProcedure [dbo].[p_ARC_GLOWDATAMOVEMENT_48]    Script Date: 04-02-2026 16:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_ARC_GLOWDATAMOVEMENT_48]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DefaultJobName NVARCHAR(250) = 'ARC_GLOWDATAMOVEMENT'

    IF OBJECT_ID('#ArchiveRules') IS NOT NULL DROP TABLE #ArchiveRules
    CREATE TABLE #ArchiveRules (
        DBName SYSNAME,
        FilterCondition NVARCHAR(MAX)
    )

    INSERT INTO #ArchiveRules (DBName, FilterCondition) VALUES
    ('SATYA', 'ApplicationDate <= DATEADD(DD,-90,GETDATE())')

    IF OBJECT_ID('#ArchiveResults') IS NOT NULL DROP TABLE #ArchiveResults
    CREATE TABLE #ArchiveResults (
        DatabaseName SYSNAME,
        RecordCount INT,
        JobName NVARCHAR(250),
        insertedTimestamp DATETIME
    )

    DECLARE @DBName SYSNAME, @Condition NVARCHAR(MAX), @SQL NVARCHAR(MAX)

    DECLARE db_cursor CURSOR FOR
    SELECT DBName, FilterCondition FROM #ArchiveRules

    OPEN db_cursor
    FETCH NEXT FROM db_cursor INTO @DBName, @Condition

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @SQL = '
        BEGIN TRY
            USE [' + @DBName + '];

            IF OBJECT_ID(''t_GLOSApplication'') IS NOT NULL
            BEGIN
                INSERT INTO tempdb..#ArchiveResults (DatabaseName, RecordCount, JobName, insertedTimestamp)
                SELECT ''' + @DBName + ''',
                       COUNT(1),
                       ''' + @DefaultJobName + ''',
                       GETDATE()
                FROM t_GLOSApplication WITH (NOLOCK)
                WHERE GLOSApplicationStatusID IN (''CMP'', ''REJ'')
                  AND ' + @Condition + ';
            END
        END TRY
        BEGIN CATCH
            PRINT ''Error in DB: ' + @DBName + ''' 
        END CATCH
        '

        EXEC sp_executesql @SQL
        FETCH NEXT FROM db_cursor INTO @DBName, @Condition
    END

    CLOSE db_cursor
    DEALLOCATE db_cursor
		insert into t_ArchiveGlowDataMovResults
    SELECT * FROM #ArchiveResults ORDER BY RecordCount DESC, DatabaseName
END







GO
