USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_TPS_Database_Log]    Script Date: 04-02-2026 16:36:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_TPS_Database_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [date] NOT NULL,
	[LogTime] [datetime] NOT NULL,
	[HourOfDay]  AS (datepart(hour,[LogTime])) PERSISTED,
	[MinuteOfHour]  AS (datepart(minute,[LogTime])) PERSISTED,
	[DatabaseName] [sysname] NOT NULL,
	[TPS] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_TPS_Database_Log] ADD  DEFAULT (getdate()) FOR [LogTime]
GO
