USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_DeviceBankConfig_Report]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_DeviceBankConfig_Report](
	[BankID] [nvarchar](6) NOT NULL,
	[AppID] [nvarchar](25) NOT NULL,
	[AppInstance] [nvarchar](25) NOT NULL,
	[ShortName] [nvarchar](25) NULL,
	[BankURL] [nvarchar](255) NULL,
	[ChallengeCode] [nvarchar](6) NULL,
	[ConfigVersion] [decimal](12, 7) NULL,
	[VersionSupportFrom] [nvarchar](10) NULL,
	[VersionSupportTill] [nvarchar](10) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [nvarchar](25) NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[ModifiedBy] [nvarchar](25) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[IsBRConnect] [bit] NULL,
	[BRConnectVersionNo] [nvarchar](20) NULL,
	[BRConnectAPIKey] [nvarchar](100) NULL,
	[BRConnectAPPID] [nvarchar](100) NULL,
	[IsLicensed] [bit] NULL,
	[CertificateHash] [nvarchar](50) NULL,
 CONSTRAINT [PK_t_DeviceBankConfig_New] PRIMARY KEY CLUSTERED 
(
	[BankID] ASC,
	[AppInstance] ASC,
	[AppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_DeviceBankConfig_Report] ADD  CONSTRAINT [DF_t_DeviceBankConfig_CreatedOnNew]  DEFAULT (getdate()) FOR [CreatedOn]
GO
