USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_clientname]    Script Date: 04-02-2026 16:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_clientname](
	[ClientName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
