USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_DisabledJobsHistory]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_DisabledJobsHistory](
	[JobName] [nvarchar](255) NULL,
	[JobStatus] [nvarchar](50) NULL,
	[JOBDisabledDateTime] [datetime] NULL,
	[ServerIP] [nvarchar](50) NULL,
	[InsertedTimestamp] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_DisabledJobsHistory] ADD  DEFAULT (getdate()) FOR [InsertedTimestamp]
GO
