USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_LogSpaceResultData]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_LogSpaceResultData](
	[Server_IP] [nvarchar](20) NULL,
	[DatabaseName] [nvarchar](20) NULL,
	[LogSizeMB] [decimal](38, 15) NULL,
	[LogSpaceUsedPercent] [decimal](38, 15) NULL,
	[Status] [nvarchar](20) NULL,
	[InsertedTimestamp] [datetime] NULL
) ON [PRIMARY]
GO
