USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_TEMP]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_TEMP](
	[Server_IP] [nvarchar](max) NULL,
	[DatabaseName] [nvarchar](max) NULL,
	[LogSizeMB] [nvarchar](max) NULL,
	[LogSpaceUsedPercent] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[InsertedTimestamp] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
