USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_login]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_login](
	[Name] [nvarchar](100) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) MASKED WITH (FUNCTION = 'default()') NOT NULL,
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
