USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_BlockingSessionsView]    Script Date: 04-02-2026 16:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_BlockingSessionsView](
	[session_id] [int] NULL,
	[status] [nvarchar](50) NULL,
	[blocked_by] [int] NULL,
	[elapsed_time] [datetime] NULL,
	[login_name] [nvarchar](200) NULL,
	[stored_proc] [nvarchar](300) NULL,
	[host_name] [nvarchar](200) NULL,
	[database_name] [nvarchar](200) NULL,
	[query_text] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
