USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_ArchiveGlowDataMovResults]    Script Date: 04-02-2026 16:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_ArchiveGlowDataMovResults](
	[DatabaseName] [nvarchar](250) NULL,
	[RecordCount] [int] NULL,
	[JobName] [nvarchar](250) NULL,
	[insertedTimestamp] [datetime] NULL
) ON [PRIMARY]
GO
