USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[AllTableSizes]    Script Date: 04-02-2026 16:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllTableSizes](
	[DatabaseName] [sysname] NOT NULL,
	[SchemaName] [sysname] NOT NULL,
	[TableName] [sysname] NOT NULL,
	[Rows] [bigint] NULL,
	[SizeKB] [bigint] NULL,
	[SizeMB] [bigint] NULL,
	[SizeGB] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
