USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_DeadLockReport]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_DeadLockReport](
	[StoredProcedureName] [nvarchar](256) NULL,
	[LineNumber] [int] NULL,
	[InstanceIP] [nvarchar](15) NULL,
	[KillCount] [int] NULL,
	[insertedTimestamp] [datetime] NULL
) ON [PRIMARY]
GO
