USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_ClientTableSizeLog]    Script Date: 04-02-2026 16:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_ClientTableSizeLog](
	[DatabaseName] [sysname] NOT NULL,
	[SchemaName] [sysname] NOT NULL,
	[TableName] [sysname] NOT NULL,
	[RowCounts] [bigint] NULL,
	[TotalSpaceGB] [decimal](18, 2) NULL,
	[InsertedTimestamp] [datetime] NULL
) ON [PRIMARY]
GO
