USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[tempBackupValidationReport]    Script Date: 04-02-2026 16:36:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tempBackupValidationReport](
	[DBName] [nvarchar](100) NULL,
	[BackupFile] [nvarchar](500) NULL,
	[FileType] [nvarchar](50) NULL,
	[BackupType] [nvarchar](50) NULL,
	[SizeKB] [bigint] NULL,
	[Status] [nvarchar](50) NULL,
	[CheckedOn] [datetime] NULL,
	[Remark] [nvarchar](200) NULL
) ON [PRIMARY]
GO
