USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_DBAEodException]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_DBAEodException](
	[ClientName] [nvarchar](255) NULL,
	[ExceptionDate] [datetime] NULL,
	[Exceptionname] [nvarchar](255) NULL,
	[NoofBranches] [smallint] NULL,
	[inserted_timestamp] [datetime] NULL
) ON [PRIMARY]
GO
