USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_DBADailyJobsReport]    Script Date: 04-02-2026 16:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_DBADailyJobsReport](
	[job_name] [nvarchar](255) NULL,
	[job_enabled] [bit] NULL,
	[frequency] [nvarchar](50) NULL,
	[job_status] [nvarchar](50) NULL,
	[job_duration] [time](7) NULL,
	[succeeded_date] [date] NULL,
	[succeeded_time] [time](7) NULL,
	[error_message] [nvarchar](max) NULL,
	[inserted_timestamp] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
