USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_ClientTableSizeComparison]    Script Date: 04-02-2026 16:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_ClientTableSizeComparison](
	[DatabaseName] [sysname] NOT NULL,
	[SchemaName] [sysname] NOT NULL,
	[TableName] [sysname] NOT NULL,
	[YesterdaySizeGB] [decimal](18, 3) NULL,
	[TodaySizeGB] [decimal](18, 3) NULL,
	[SizeDifferenceGB] [decimal](18, 3) NULL,
	[YesterdayRows] [bigint] NULL,
	[TodayRows] [bigint] NULL,
	[RowDifference] [bigint] NULL,
	[TodayTimestamp] [datetime] NULL,
	[InsertedInTable] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_ClientTableSizeComparison] ADD  DEFAULT (getdate()) FOR [InsertedInTable]
GO
