USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_BackupValidationLog]    Script Date: 04-02-2026 16:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_BackupValidationLog](
	[DBName] [nvarchar](128) NULL,
	[BackupFile] [nvarchar](500) NULL,
	[FileType] [nvarchar](50) NULL,
	[LogicalName] [nvarchar](128) NULL,
	[PhysicalName] [nvarchar](500) NULL,
	[BackupStartDate] [datetime] NULL,
	[BackupFinishDate] [datetime] NULL,
	[BackupTypeDesc] [nvarchar](60) NULL,
	[BackupSize] [bigint] NULL,
	[IsValid] [bit] NULL,
	[CheckedOn] [datetime] NULL,
	[ErrorMessage] [nvarchar](4000) NULL,
	[remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
