USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_StoredIndexView]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_StoredIndexView](
	[ServerIP] [nvarchar](50) NULL,
	[JobName] [nvarchar](255) NULL,
	[JobEnabled] [int] NULL,
	[Frequency] [nvarchar](50) NULL,
	[JobStatus] [nvarchar](50) NULL,
	[JobDuration] [time](7) NULL,
	[SucceededDate] [date] NULL,
	[SucceededTime] [time](7) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[InsertedTimestamp] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_StoredIndexView] ADD  DEFAULT (getdate()) FOR [InsertedTimestamp]
GO
