USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_tempdbLogSpace]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_tempdbLogSpace](
	[ServerIP] [varchar](50) NULL,
	[DatabaseName] [sysname] NOT NULL,
	[LogSizeMB] [float] NULL,
	[LogSpaceUsedPercent] [float] NULL,
	[Status] [int] NULL,
	[InsertedTimestamp] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_tempdbLogSpace] ADD  CONSTRAINT [DF_t_tempdbLogSpace_InsertedTimestamp]  DEFAULT (getdate()) FOR [InsertedTimestamp]
GO
