USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[JobMonitoring]    Script Date: 04-02-2026 16:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobMonitoring](
	[ServerIP] [varchar](50) NOT NULL,
	[job_name] [varchar](200) NOT NULL,
	[job_enabled] [bit] NOT NULL,
	[frequency] [varchar](50) NULL,
	[schedule] [varchar](100) NULL,
	[job_status] [varchar](20) NULL,
	[job_duration] [varchar](8) NULL,
	[succeeded_date] [date] NULL,
	[succeeded_time] [time](0) NULL,
	[error_message] [varchar](max) NULL,
	[inserted_timestamp] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobMonitoring] ADD  CONSTRAINT [DF_JobMonitoring_timestamp]  DEFAULT (getdate()) FOR [inserted_timestamp]
GO
