USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_StoredProcedureView]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_StoredProcedureView](
	[InstanceIP] [nvarchar](50) NULL,
	[StoredProcedureName] [nvarchar](255) NULL,
	[LineNumber] [int] NULL,
	[KillCount] [int] NULL,
	[InsertedTimestamp] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_StoredProcedureView] ADD  DEFAULT (getdate()) FOR [InsertedTimestamp]
GO
