USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_Fetchlogindetails]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_Fetchlogindetails](
	[LoginName] [varchar](128) NULL,
	[Statusid] [varchar](10) NULL,
	[StatusOn] [varchar](128) NULL,
	[Inserted_Time] [datetime] NULL,
	[Server_IP] [nvarchar](128) NULL,
	[IsAlertSent] [int] NULL
) ON [PRIMARY]
GO
