USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_BlockingSessions]    Script Date: 04-02-2026 16:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_BlockingSessions](
	[session_id] [int] NOT NULL,
	[status] [nvarchar](30) NULL,
	[blocked_by] [int] NULL,
	[kill_command] [nvarchar](100) NULL,
	[wait_time] [varchar](20) NULL,
	[stored_proc] [nvarchar](256) NULL,
	[login_name] [nvarchar](16) NULL,
	[host_name] [nvarchar](128) NULL,
	[program_name] [nvarchar](20) NULL,
	[Opentran] [int] NULL,
	[Database_name] [nvarchar](128) NULL,
	[AlertDate] [datetime] NULL
) ON [PRIMARY]
GO
