USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_RejectedticketRecords]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_RejectedticketRecords](
	[Ticket_ID] [bigint] NULL,
	[Client] [nvarchar](255) NOT NULL,
	[Instance] [nvarchar](255) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Error_Description] [nvarchar](max) NULL,
	[ProjectID] [nvarchar](50) NOT NULL,
	[RejectedOn] [datetime] NULL,
	[ReleaseStatus] [nvarchar](50) NOT NULL,
	[ReleaseType] [nvarchar](50) NULL,
	[Inserted_timestamp] [datetime] NULL,
	[ResourceName] [nvarchar](510) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_RejectedticketRecords] ADD  DEFAULT (getdate()) FOR [Inserted_timestamp]
GO
