USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_DBGrowthReportDaily]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_DBGrowthReportDaily](
	[server_ip] [nvarchar](50) NULL,
	[dbname] [sysname] NOT NULL,
	[dbsize] [nvarchar](50) NULL,
	[inserted_timestamp] [datetime] NULL
) ON [PRIMARY]
GO
