USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_IOStatsLog]    Script Date: 04-02-2026 16:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_IOStatsLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ServerIP] [sysname] NOT NULL,
	[Drive] [varchar](10) NOT NULL,
	[VolumeMountPoint] [varchar](255) NOT NULL,
	[ReadLatencyMs] [decimal](18, 2) NULL,
	[WriteLatencyMs] [decimal](18, 2) NULL,
	[OverallLatencyMs] [decimal](18, 2) NULL,
	[AvgBytesRead] [bigint] NULL,
	[AvgBytesWrite] [bigint] NULL,
	[AvgBytesTransfer] [bigint] NULL,
	[LogTime] [datetime] NOT NULL,
	[InsertedTimestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_IOStatsLog] ADD  DEFAULT (getdate()) FOR [InsertedTimestamp]
GO
