USE [DBA_DAILY_REPORT]
GO
/****** Object:  Table [dbo].[t_DB_TPS_Snapshot]    Script Date: 04-02-2026 16:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_DB_TPS_Snapshot](
	[ClientName] [sysname] NOT NULL,
	[DatabaseName] [sysname] NOT NULL,
	[TranCount] [bigint] NOT NULL,
 CONSTRAINT [PK_t_DB_TPS_Snapshot] PRIMARY KEY CLUSTERED 
(
	[ClientName] ASC,
	[DatabaseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
